<!doctype html>
<html>
<head data-th-replace="includes/header(title=#{ui.backend})">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../public/css/main.css" rel="stylesheet"/>
    <link href="../public/css/backend.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="navbar navbar-fixed-top backend-oasis-navbar" role="navigation">
  <div class="navbar-header">
      <div class="backend-oasis">
          <a data-th-href="@{/}" href="/">
	          <img id="logo" data-th-src="@{/img/ozwillo-logo-white-small.png}" alt="OASIS"/><br />
	          <span id="logo-legend" data-th-text="#{ui.backend}"></span>
          </a>
      </div>
  </div>
  <ul class="nav navbar-nav">
      <li class="active" data-th-each="item : ${navigation}" data-th-class="${item.active ? 'active':''}">
          <a href="#" data-th-href="@{'/' + ${item.id}}" data-th-class="${item.active?'':'nav-link'}">
              <img data-th-if="${!item.active}" data-th-src="@{'/img/nav/' + ${item.id} + '-gray.png'}" data-th-alt="#{'backend.' + ${item.id}}" class="gray" />
              <img data-th-src="@{'/img/nav/' + ${item.id} + '.png'}" data-th-alt="#{'backend.' + ${item.id}}" data-th-class="${item.active?'':'purple'}" />
              <span data-th-text="#{'backend.' + ${item.id}}"></span>
          </a>
          <data-th-block data-th-if="${item.active}">
              <div class="arrow-border"></div>
              <div class="arrow"></div>
          </data-th-block>
      </li>
  </ul>
</div>

<div class="container">
	<data-th-block data-th-replace="${pageTemplate} :: body">
		Page non trouvée.
	</data-th-block>
</div>

<div id="error-holder">
	<div class="alert alert-danger alert-dismissible" role="alert" data-th-each="error : ${errorMessageService.errorMessages}">
	  <button type="button" class="close" data-dismiss="alert">
	  	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	  </button>
	  <span data-th-text="${error}">An error occurred.</span>
	</div>
</div>

<data-th-block data-th-replace="includes/footer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</data-th-block>

<data-th-block data-th-include="${pageTemplate} :: footer">
</data-th-block>

<script>
$('#error-holder').hide().fadeIn(500).delay(4000).fadeOut(1000);
</script>

</body>
</html>

