<!doctype html>
<html>
<head data-th-replace="includes/header(title=#{ui.appstore},page='appstore')">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DUMMY Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../public/css/main.css" rel="stylesheet"/>
    <link href="../../public/css/appstore.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        @font-face {
            font-family: 'Dunkin';
            src: url('../public/fonts/Dunkin.eot?') format('eot'),
            url('../public/fonts/Dunkin.woff') format('woff'),
            url('../public/fonts/Dunkin.ttf')  format('truetype'),
            url('../public/fonts/Dunkin.svg#Dunkin') format('svg');
        }

        @font-face {
            font-family: 'DIN';
            src: url('../public/fonts/DIN.eot?') format('eot'),
            url('../public/fonts/DIN.woff') format('woff'),
            url('../public/fonts/DIN.ttf')  format('truetype'),
            url('../public/fonts/DIN.svg#DIN') format('svg');
        }

        @font-face {
            font-family: 'DINAlternate-Light';
            src: url('../public/fonts/DINAlternate-Light.eot?') format('eot'),
            url('../public/fonts/DINAlternate-Light.woff') format('woff'),
            url('../public/fonts/DINAlternate-Light.ttf')  format('truetype'),
            url('../public/fonts/DINAlternate-Light.svg#DIN') format('svg');
        }
    </style>

</head>
<body>

<div class="navbar navbar-fixed-top my-oasis-navbar" role="navigation" data-th-replace="includes/my-navigation :: nav">
    <div class="navbar-header">
        <div class="my-oasis" data="null">
            <img id="logo" src="../../public/img/my/my-oasis.png"
                 alt="My OASIS"/>
            <a href="#" ><span class="badge badge-notifications">0</span></a>
        </div>
    </div>

    Header
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <h2><img src="../../public/img/my/app-store.png" data-th-src="@{/img/my/app-store.png}" data-th-alt="#{ui.appstore}" alt="Appstore" /><span data-th-text="#{ui.appstore}">Apps Store</span></h2>
            </div>
            <form id="searchForm" action="#" data-th-action="@{/appstore/search}">
                <div class="input-group">
                    <input type="search" name="query" class="form-control" placeholder="Search"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="audience" value="CITIZENS" type="checkbox" checked="checked"/><span data-th-text="#{store.citizens}">Citizens</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="audience" value="PUBLIC_BODIES" type="checkbox" /><span data-th-text="#{store.publicbodies}">Public bodies</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="audience" value="COMPANIES" type="checkbox" /><span data-th-text="#{store.companies}">Companies</span>
                    </label>
                </div>
            </form>
        </div>
        <div class="col-sm-8 app-store-result" data-th-remove="all-but-first">
            <div class="hit text-center" data-th-each="entry: ${hits}" data-th-fragment="hits">
                <img src="../../public/img/sample_app_icons/sample-connecte-15.png" data-th-src="${entry.iconUrl}"/>
                <p data-th-text="${entry.name}" class="appname">Portail citoyen de Valence</p>
                <p data-th-text="${entry.providerName}" class="providername">Service provider</p>
                <p data-th-text="${entry.description}" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id tincidunt arcu. Donec feugiat dictum urna in pretium. Nunc a dolor sit amet odio ultrices sodales ac vel est. Integer a consectetur neque. Etiam eget sem vitae quam sagittis accumsan ut at ligula. Morbi eget diam id erat tempor pulvinar. Vivamus eu accumsan nisi. Pellentesque tincidunt quis odio id ullamcorper. Nulla vel viverra sem, a ullamcorper orci." data-th-title="${entry.longDescription}" class="appdescription">Lorem ipsum dolor sit amet, conesectuer elipiscit</p>
                <div class="btn-group indicator" data-th-if="${entry.acquisitionStatus == T(org.oasis_eu.portal.model.appstore.AcquisitionStatus).AVAILABLE and entry.catalogEntry.paymentOption == T(org.oasis_eu.portal.core.model.catalog.PaymentOption).FREE}">
                    <button class="btn btn-indicator btn-indicator-available" href="#" data-th-text="#{store.free}" data-th-attr="data-appId=${entry.catalogEntry.id},data-appType=${entry.catalogEntry.type}" data-toggle="modal" data-target="#confirmation" data-th-href="@{/appstore/confirm/}+${entry.catalogEntry.id}+'/'+${entry.catalogEntry.type}" data-appId="abdc81-f128-8197-1780a">Free</button>
                </div>

                <!--/*/
                <div class="btn-group indicator" data-th-if="${entry.acquisitionStatus == T(org.oasis_eu.portal.model.appstore.AcquisitionStatus).INSTALLED}">
                    <button class="btn btn-indicator btn-indicator-installed" data-th-text="#{store.installed}">Installed</button>
                    <button class="btn btn-indicator btn-indicator-installed-icon"><i class="fa fa-check"></i></button>
                </div>
                <div class="btn-group indicator" data-th-if="${entry.acquisitionStatus == T(org.oasis_eu.portal.model.appstore.AcquisitionStatus).AVAILABLE and entry.catalogEntry.paymentOption == T(org.oasis_eu.portal.core.model.catalog.PaymentOption).PAID}">
                    <button class="btn btn-indicator btn-indicator-available" data-th-text="#{store.paid}" data-th-attr="data-appId=${entry.catalogEntry.id}" data-toggle="modal"  data-target="#confirmation" href="#" data-th-href="@{/appstore/confirm/}+${entry.catalogEntry.id}+'/'+${entry.catalogEntry.type}">Paid</button>
                    <button class="btn btn-indicator btn-indicator-available-icon"><i class="fa fa-eur"></i></button>
                </div>

                /*/-->
            </div>
            <div class="hit text-center" >
                <a class="app-link" href="#" >
                    <img src="../../public/img/sample_app_icons/sample-connecte-15.png" />
                </a>
                <p class="appname">Appname</p>
                <p class="providername">Service provider</p>
                <p class="appdescription">Lorem ipsum dolor sit amet, conesectuer elipiscit</p>
                <div class="btn-group indicator">
                    <button class="btn btn-indicator btn-indicator-installed">Installed</button>
                    <button class="btn btn-indicator btn-indicator-installed-icon"><i class="fa fa-check"></i></button>
                </div>
            </div>
            <div class="hit text-center" >
                <a class="app-link" href="#" >
                    <img src="../../public/img/sample_app_icons/sample-connecte-15.png" />
                </a>
                <p class="appname">Appname</p>
                <p class="providername">Service provider</p>
                <p class="appdescription">Lorem ipsum dolor sit amet, conesectuer elipiscit</p>
                <div class="btn-group indicator">
                    <button class="btn btn-indicator btn-indicator-available" data="whatever">Paid</button>
                    <button class="btn btn-indicator btn-indicator-available-icon"><i class="fa fa-eur"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" data-th-text="#{store.subscribe}">Subscribe to application</h4>
            </div>
            <div class="modal-body">
                <p data-th-text="#{store.subscribe.are_you_sure}">Do you really want to buy the following application:</p>
                <p class="appname">Appname</p>
                <p class="appdescription">Lorem ipsum</p>
                <p class="apppayment">It is free of charge</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{ui.close}">Close</button>

            </div>
        </div>
    </div>
</div>

<form id="subscribe" method="POST" action="#" data-th-action="@{/appstore/buy}">
    <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/>
    <input type="hidden" id="subscribe_app" name="appId" value=""/>
    <input type="hidden" id="subscribe_apptype" name="appType" value=""/>
</form>

<th:block data-th-replace="includes/footer">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</th:block>


<script src="../../public/js/my.js" data-th-src="@{/js/my.js}"></script>
<script src="../../public/js/appstore.js" data-th-src="@{/js/appstore.js}"></script>

</body>
</html>