
.oz-form .oz-fieldset > .oz-legend {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

.oz-form .oz-fieldset .flex-row {
    margin: 12px 20px
}

.oz-form .flex-row .label {
    text-align: right;
    min-width: 180px;
    max-width: 180px;
    font-size: 1em;
    white-space: normal;
    color: var(--secondary-color);
    font-weight: normal;
}

.oz-form .flex-row .react-autosuggest__container,
.oz-form .flex-row .field {
    width: 100%;
    color: var(--black-color);
}

.oz-form input[type="radio"],
.oz-form input[type="checkbox"] {
    margin: 0 0 0 -20px;
}

.oz-form .flex-row .field.radio-inline,
.oz-form .flex-row .field[type="checkbox"] {
    width: auto;
    margin: 4px 10px;
}

.oz-form .flex-row .label,
.oz-form .flex-row .react-autosuggest__container,
.oz-form .flex-row .field {
    margin: auto 10px;
}

.oz-form textarea.field {
    resize: none;
}

.oz-form .submit {
    font-size: 1.2em;
    padding: 5px 50px;
    margin: 20px auto;
    border-radius: 6px;
}

/* phone */
@media (max-width: 425px) {
    .oz-form .oz-fieldset .flex-row {
        flex-wrap: wrap;
    }

    .oz-form .flex-row .label {
        text-align: left;
        padding: 0.2em 0;
    }

    .oz-form .flex-row span.field {
        text-align: center;
    }

    .oz-form .oz-fieldset .flex-row {
        margin: 20px;
    }

    .oz-form .align-radio {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .oz-form. .oz-form .align-radio .field[type="checkbox"] {
        width: 100%;
    }
}