
.organization-invitation-form {
    width: 100%;
    align-self: center;
}

.organization-invitation-form .legend {
    border: none;
    font-size: 1em;
    margin-bottom: 0;
    color: var(--primary-color);
    font-weight: bold;
}

.organization-invitation-form .label {
    width: 100%;
    text-align: left;
    margin: auto 0;
    font-size: 0.9em;
    padding: 2px 0;
    font-weight: normal;
}

.organization-invitation-form .label-title {
    padding-bottom: 0.8em;
    font-size: 1em;
    color: var(--secondary-color) !important;

}

.organization-invitation-form .field {
    display: inline;
    width: 230px;
    height: auto;
    padding: 2px 5px;
    margin: 0 5px;
}

.organization-invitation-form .spinner-container{
    display: flex;
    align-items: center;
    margin-left: 0.5em;

}

.organization-invitation-form input[type="checkbox"].field {
    width: auto;
}

.organization-invitation-form .options .action-icon {
    font-size: 1.5em;
    color: var(--primary-color);
}

.organization-invitation-form .error,
.organization-invitation-form .success {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 0.9em;
    text-align: center;
    color: var(--primary-color);
}

.organization-invitation-form .btn-submit {
    padding: 3px 6px;
    font-size: 0.9em;
    min-width: 200px;
}

.organization-invitation-form .invite-multiple-users{
    margin-top: 1.5em;
}

.organization-invitation-form .form-row-block{
    flex-direction: row;
    display: flex;
}

.organization-invitation-form .form-column-block{
    flex-direction: column;
    display: flex;
}

.organization-invitation-form .form-submit{
    align-self: flex-end;
}

@media (max-width: 425px) {
    .organization-invitation-form .field:not(.no-auto) {
        width: auto;
    }

    .organization-invitation-form .wrapper {
        flex-wrap: wrap;
    }
}

