# Package files
*.class
*.jar
*.war
*.ear

*~
.~*#

# Gradle
.gradle
.gradletasknamecache
build/
/src/main/resources/application-*.yml

# Eclipse
.settings/
.project
.classpath

# IDEA
.idea/
*.iml
ozwillo-portal.ipr
ozwillo-portal.iws
out/

# Mac OS
.DS_Store

# react.js
**/src/.module-cache/

# Node
node_modules/
