<!DOCTYPE html>
<html data-th-attr="lang=${currentLocaleLanguage}">
<head data-th-replace="includes/header(title=#{my.appsmanagement},page='apps-management')"></head>

<body>
<div data-th-replace="includes/my-header-content::header"></div>

<div data-th-replace="includes/my-navigation :: nav"></div>

<div class="oz-body page-row page-row-expanded">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img data-th-src="@{/img/new/appsmanagement.png}" src="../../public/img/new/appsmanagement.png"/>
                    <span data-th-text="#{my.apps.title}">Apps management</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="oz-body-content">
        <div class="container" id="myapps">
            <div class="text-center"><i class="fa fa-spinner fa-spin"></i><span data-th-text="#{ui.loading}"></span></div>
        </div>
    </div>

    <div class="push"></div>
</div>

<div data-th-replace="includes/footer"></div>

<div data-th-replace="includes/scripts"></div>

<script type="text/javascript" data-th-src="@{/webjars/momentjs/2.9.0/min/moment-with-locales.min.js}"></script>
<script type="text/javascript" data-th-src="@{/webjars/select2/3.5.2/select2.min.js}"></script>

<script src="../../public/js/csrf.js" data-th-src="@{/js/csrf.js}"></script>
<script data-th-src="@{/webjars/typeaheadjs/0.11.1/typeahead.bundle.min.js}"></script>

<script data-th-inline="javascript" type="text/javascript">
    var apps_service = /*[[@{/my/api/myapps}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto';
    var store_service = /*[[@{/api/store}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto/store'; // for select2
    moment.locale(currentLanguage);
</script>

<script type="text/jsx" src="../../public/js/util/fileuploadinput.jsx.js" data-th-src="@{/js/util/fileuploadinput.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/util/fileuploadinput.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/appmanagement/service-settings.jsx.js" data-th-src="@{/js/appmanagement/service-settings.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/appmanagement/service-settings.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/appmanagement/common-users.jsx.js" data-th-src="@{/js/appmanagement/common-users.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/appmanagement/common-users.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/appmanagement/instance-users.jsx.js" data-th-src="@{/js/appmanagement/instance-users.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/appmanagement/instance-users.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/appmanagement/dashboard-users.jsx.js" data-th-src="@{/js/appmanagement/dashboard-users.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/appmanagement/dashboard-users.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/appmanagement/myapps.jsx.js" data-th-src="@{/js/appmanagement/myapps.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/appmanagement/myapps.min.js}" data-th-if="${!devmode}"></script>/*/-->

<script type="text/jsx" src="../../public/js/contact.jsx.js" data-th-src="@{/js/contact.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/contact.min.js}" data-th-if="${!devmode}"></script>/*/-->

</body>
</html>
