/* General */

body, h2 {
    color: #636681;
}

#error-holder {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 2000;
}

.alert {
	font-size: 18px;
}

/* Navigation bar */

.backend-oasis-navbar {
    background-color: #666666;
    border-bottom: 2px solid #222;
    height: 76px;
}

div.backend-oasis {
    position:relative;
}

div.backend-oasis img {
    padding-top: 10px;
}

#logo {
	padding-top: 4px;
}

#logo-legend {
	width: 179px;
	text-align: center;
	display: block;
	margin-top: -5px;	
	font-weight: bold;
	color: #F7F7F7;
}

ul.navbar-nav {
	
    margin-left: 20px;
}

.navbar-nav li {
    position: relative;
    width: 100px;
    text-align: center;
    height: 76px;
}

.navbar-nav li img {
    position: absolute;
    top: 10;
    left: 30px;
}

.navbar-nav li img.gray {
    z-index: 1;
}

.navbar-nav li img.purple {
    display: none;
    z-index: 2;
}

.navbar-nav li span {
    position: relative;
    top: 40px;
}

.navbar-nav li a:hover {
    background-color: transparent;
}

.navbar-nav li a {
    color: #e7e8ef;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.navbar-nav li.active a {
    color: #F7F7F7;
}

.navbar-nav li a:hover {
    color: #F7F7F7;
}

.navbar-nav li.logout {
    background-color: #636681;
}

.navbar-nav li.logout a {
    color: #F7F7F7;
}

div.arrow-border {
    position: absolute;
    left: 40px;
    bottom: -20px;
    width: 10px;
    border: 10px solid transparent;
    border-top: 10px inset #222222;
}

div.arrow {
    position:absolute;
    left: 40px;
    bottom: -18px;
    width: 10px;
    border: 10px solid transparent;
    border-top: 10px outset #666666;
}

/* Contents : page switcher */

div.page-switcher {
    color: #6e418e;
    font-size: 14pt;
}

div.page-switcher ul.nav {
    padding-bottom: 10px;
    border-bottom: 1px solid #6e418e;
}

div.page-switcher a {
    color: #6e418e;
}

div.page-switcher ul.nav .active a {
    background-color: #6e418e;
}

div.page-switcher span.badge {
    margin-top: 5px;
}

/* Contents : forms */

.form-group label {
    font-weight: normal;
}

.form-control:focus {
    border-color: rgba(110, 65, 142, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(110,65,142,.6);
}

.form-buttons {
	margin: 10px 0;
}

.btn-image {
	display: inline-block;
	vertical-align: middle;
}

#epiceditor {
	border: 1px solid #999;
    border-radius: 4px;
}
