.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-mobile-column {
    display: flex;
    flex-direction: row;
}

@media (max-width: 425px) {
    .flex-row-mobile-column {
        display: flex;
        flex-direction: column;
    }
}

.flex-row.end {
    justify-content: flex-end;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col.end {
    justify-content: flex-end;
}

.hidden {
    display: none;
}

.undecorated-list {
    list-style: none;
    padding: 0;
}

.undecorated-link {
    text-decoration: none !important;
}