/* GLOBAL STYLES */
@import 'variables.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
/* Components */
@import 'components/btn.css';
@import 'components/custom-tooltip.css';
@import 'components/datepicker.css';
@import 'components/dropdown-helper.css';
@import 'components/dropdown-menu.css';
@import 'components/footer.css';
@import 'components/header.css';
@import 'components/layout.css';
@import 'components/modal.css';
@import 'components/nav.css';
@import 'components/popup.css';
@import 'components/react-autosuggest.css';
@import 'components/select.css';
@import 'components/service.css';
@import 'components/table.css';
@import 'components/tabs.css';
@import 'components/tabs/admin-tab.css';
@import 'components/tabs/instances-tab.css';
@import 'components/tabs/members-tab.css';
@import 'components/forms/form.css';
@import 'components/forms/instance-config-form.css';
@import 'components/forms/instance-invitation-form.css';
@import 'components/forms/organization-invitation-form.css';
/* Pages */
@import 'pages/dashboard.css';
@import 'pages/notifications.css';
@import 'pages/organization-create.css';
@import 'pages/organization-search.css';
@import 'pages/organization-desc.css';
@import 'pages/profile.css';
@import 'pages/store.css';
@import 'pages/synchronize-fc-profile.css';
/* Helper */
@import './helper.css';

/* styles needed to have a responsive fixed footer
     while having main content (with page-row-expanded class) taking up all available space */

html,
body {
    height: 100%;
    margin: 0;

}

#root {
    display: flex;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}

body, h1, h2 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

h4 {
    font-weight: 300 !important;
    color: var(--secondary-color) !important;
}

label {
    font-weight: 300;
}

label.required {
    font-weight: 700;
}

/* page-row */
.page-row {
    display: table-row;
}

.page-row-expanded {
    height: 100%;
}

/* END page-row */

/* oz-body */
.oz-body {
    background: var(--bg-content-color);
}

.oz-body.light {
    background: var(--tertiary-color);
}

.oz-body.wrapper {
    padding: 20px 100px;
    height: 100%;
}

.oz-body .title{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    margin: 20px 0;

}

.oz-body h1 span {
    vertical-align: middle;
}

.oz-body h2 {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.oz-body h3 {
    font-size: 18px;
}

/* END oz-body */

.top {
    margin-top: 25px;
}

.logo-twitter {
    width: auto;
    height: auto;
    margin: 25px 0 0 0;
}

.action-icon {
    cursor: pointer;
}

.text-align-middle {
    padding-top: 0.5em;
}

.error-message {
    color: var(--alert-color);
    width: 100%;
    text-align: left;
    margin: auto 5px;
}

.success-message {
    color: var(--primary-color);
    width: 100%;
    text-align: left;
    margin: auto 5px;
}

.box {
    background-color: var(--tertiary-color);
    margin: 10px 5px;
    padding: 10px 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2),
    4px 3px 3px rgba(0, 0, 0, 0.2);
}

.alert-message {
    color: var(--secondary-color);
    font-size: 1.2em;
}

.alert-message > .line {
    display: block;
    width: 100%;
    margin: 5px 0;
}

/* Loading */
.loading-container {
    text-align: center;
}

.loading-container .loading {
    font-size: 2.5em;
}

.loading {
    color: var(--primary-color);
}

.caret {
    margin-left: 10px !important;
}

a {
    color: var(--secondary-color);
}

/* tablet */
@media (max-width: 768px) {
    .oz-body.wrapper {
        padding: 20px 50px;
    }
}

/* phone */
@media (max-width: 425px) {
    .oz-body.wrapper {
        padding: 0px;
    }
}

