
.link-fc-profile > form legend {
    color: white;
    margin: 0;
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
}

.link-fc-profile > form .row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
}

.link-fc-profile > form .row .item > input{
    margin: 0 10px;
}

.link-fc-profile > form .row .title.item {
    margin: auto;
    font-size: 1.8em;
}

.link-fc-profile > form .row label.item  {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    font-size: 1.5em;
    cursor: pointer;
    border: solid 1px #FFF;
    padding: 5px;
}

.link-fc-profile > form .row label.item.no-value {
    font-size: 1em;
    cursor: none;
    border: none;
}

.link-fc-profile > form .row label.item.no-value .line {
    margin: 0;
}

.link-fc-profile .row.submit {
    justify-content: flex-end;
    margin: 5px 0;
}

.link-fc-profile {
    display: flex;
    flex-direction: column;
}

.link-fc-profile .error-message {
    font-size: 1.2em;
}

.link-fc-profile .error-message > p,
.link-fc-profile .error-message > a {
    margin: 5px auto;
}

.spinner {
    font-size: 3em;
    color: white;
    margin: auto;
}
