<footer class="page-row">
    <div class="container-fluid">
        <div class="row clearfix footer">
            <div class="col-md-12 column footer-top-block">
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        <div class="footer-logo">
                            <img data-th-src="@{/img/new/logo-footer.png}" src="../../public/img/new/logo-footer.png"/>
                        </div>
                    </div>
                    <div class="col-md-9 column">
                        <div class="pull-right top">
                            <div data-th-each="entry: ${sitemap}" data-th-remove="tag">
                                <a class="footer-link" data-th-href="${entry.url}" data-th-text="${entry.label}"></a>
                            </div>
                            <!-- Here, we'll insert the link that calls the contact modal in React's contact.jsx module -->
                            <span id="contact"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        <div class="logo-twitter">
                            <a href="https://twitter.com/ozwillo">
                                <img data-th-src="@{/img/new/twitter.jpg}" src="../../public/img/new/twitter.jpg"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 column">
                        <div class="pull-right top">
                            <a href="https://www.ozwillo.com/en/oz/projects">
                                <img data-th-src="@{/img/new/cip.jpg}" src="../../public/img/new/cip.jpg"/>
                            </a>
                            <a href="https://www.ozwillo.com/en/oz/projects">
                                <img data-th-src="@{/img/new/eu.jpg}" src="../../public/img/new/eu.jpg"/>
                            </a>
                            <a href="https://www.ozwillo.com/en/oz/projects">
                                <img data-th-src="@{/img/new/investir.jpg}" src="../../public/img/new/investir.jpg"/>
                            </a>
                            <a href="https://www.ozwillo.com/en/oz/projects">
                                <img data-th-src="@{/img/new/RP.jpg}" src="../../public/img/new/RP.jpg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>