<head lang="${currentLanguage}">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" data-th-content="${_csrf.token}" content="csrf token"/>
    <meta name="_csrf_header" data-th-content="${_csrf.headerName}" content="X-CSRF-TOKEN"/>

    <title data-th-text="${title}">Page Title</title>

    <link data-th-href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" />
    <link data-th-href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet" />
    <!-- FIXME : only include in store page -->
    <link data-th-href="@{/webjars/bootstrap-star-rating/3.5.4/css/star-rating.min.css}" media="all" rel="stylesheet" />
    <link data-th-href="@{/css/specific.css}" rel="stylesheet" />
    <!-- FIXME : only include in pages that need them -->
    <link data-th-href="@{/webjars/jquery-ui/1.10.4/themes/base/minified/jquery-ui.min.css}" rel="stylesheet" />
    <link data-th-href="@{/webjars/jquery-ui/1.10.4/themes/base/minified/jquery.ui.datepicker.min.css}" rel="stylesheet" />
    <link data-th-href="@{/webjars/select2/3.5.2/select2.css}" rel="stylesheet" />
    <link data-th-href="@{/webjars/select2/3.5.2/select2-bootstrap.css}" rel="stylesheet" />
    <!-- end FIXME -->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" data-th-href="@{/img/new/apple-touch-icon-144-precomposed.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" data-th-href="@{/img/new/apple-touch-icon-114-precomposed.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" data-th-href="@{/img/new/apple-touch-icon-72-precomposed.png}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" data-th-href="@{/img/new/apple-touch-icon-57-precomposed.png}" />
    <link rel="shortcut icon" data-th-href="@{/img/new/favicon.png}" />

    <script data-th-inline="javascript" type="text/javascript">
        var messages = /*[[${i18n}]]*/ {};
        var devmode = /*[[${devmode}]]*/ false;
        var notificationsEnabled = /*[[${notificationsEnabled}]]*/ true;
        var currentLanguage = /*[[${currentLocaleLanguage}]]*/ 'en';
    </script>

</head>
