<div class="container-fluid oz-header" data-th-fragment="header" data-th-if="${user}">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 alert alert-danger alert-dismissible hidden" id="error-container"
             role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="error-message"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="row clearfix">

                <div class="col-md-4">
                    <div class="logo-home">
                        <a href="#" data-th-href="@{/my/dashboard}">
                            <img data-th-src="@{/img/new/logo.png}" src="../../public/img/new/logo.png"
                                 alt="Ozwillo"/>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 my-oasis" data-th-data="@{/my/api/notifications/summary}">
                    <p class="text-center welcome" data-toggle="tooltip" data-placement="bottom"
                       title="Vous avez 0 notification en attente">
                        <a href="#" data-th-href="@{/my/notif}">
                            <span data-th-text="#{ui.welcome(${user.name})}">Welcome Benoit</span>
                            <span class="badge badge-notifications">
                                0 <span class="sr-only">Unread notifications</span>
                            </span>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>