.panel-default>.panel-heading {
    background-color: #6e418e;
    color: white;
}

.panel-instance>.panel-heading {
    background-color: #e7e8ef;
}

ul.services {
    list-style-type: none;
    padding: 0;
}

li.service {
    padding: 5px;
    border-bottom: 1px solid rgb(221,221,221);

}

/*ul.services {
    background-color: white;
    border-top: 1px solid rgb(221,221,221);
} */

span.appname {
    font-weight: bold;
    font-size: 16px;
}

a.authority-link {
    background-color: #e7e8ef;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}


.twitter-typeahead {
    width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0px;
}
.tt-hint, .tt-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #6e418e;
}
.tt-suggestion.tt-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}



.settings-background {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #999999;
}

.settings-container {
    z-index: 20;
    position: absolute;
    width: 826px;
    top: 76px;
    left: 50%;
    margin-left: -413px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.show-on-hover {
    display: none;
}

.exit-buttons {
    margin-top: 10px;
}

