.app-store-result div.hit {
    position: relative;
    overflow: hidden;
    float: left;
    border: 1px solid #636681;
    border-radius: 5px;

    padding-top: 10px;

    height: 175px;
    width: 175px;

    margin-left: 10px;
    margin-bottom: 10px;

}

div.hit div.caption {
    position: absolute;
    top: -100%;
    right: 0;
    background: #eeeeee;
    width: 100%;
    height: 82%;
    padding: 2%;
    text-align: center;

    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

div.hit:hover div.caption {
    top: 0%;
    cursor: pointer;
}

p.appname {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

p.providername {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

p.appdescription {
    font-size: 12px;
}

div.indicator {
    position: absolute;
    bottom: 4px;
    right: 2px;
}

.btn-group.indicator {
    width: 100%;
    text-align: center;
}

.btn-group.indicator .btn-indicator {
    display: inline-block;
    float: none;
}

.btn.btn-indicator {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid;
    margin-right: 0px;
}

.btn.btn-indicator.btn-indicator-installed-icon {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn.btn-indicator.btn-indicator-installed {
    border-color: #5cb85c;
    color: #5cb85c;
}

.btn.btn-indicator.btn-indicator-available {
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.btn.btn-indicator.btn-indicator-available-icon {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    color: #ffffff;
}

.locale-filter {
    margin-bottom: 12px;
}

.locale-filter > .btn-group {
    margin-left: 12px;
}

div#apppage {
    background-color: #ffffff;
    opacity: 1;
    display: none;
    z-index: 1050;
    position: absolute;
    top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#apppage.in {
    display: block;
}

@media (max-width: 1000px) {
    div#apppage {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    div#apppage {
        width: 1000px;
        left: 50%;
        margin-left: -500px;
    }
}

div.center-container {
    position: relative;
    height: 64px;
}

div.vcentered {
    position: absolute;
    top: 50%;
    margin-top: -14px;
}

.rating-static {
    width: 80px;
    height: 20px;
    display: block;
    background-image: url('/img/icons/rating-static.png');
}

.rating-00 {
    background-position: -80px 0px;
}

.rating-10 {
    background-position: -60px 0px;
}

.rating-20 {
    background-position: -40px 0px;
}

.rating-30 {
    background-position: -20px 0px;
}

.rating-40 {
    background-position: 00px 0px;
}

.rating-05 {
    background-position: -60px -20px;
}

.rating-15 {
    background-position: -40px -20px;
}

.rating-25 {
    background-position: -20px -20px;
}

.rating-35 {
    background-position: -00px -20px;
}

.fa-check#success-app-install{
  color: green;
}

div.app-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#install-app-popover {
    display: none;
}

.popover {
    width: 400px;
    max-width: 400px;

    border: 1px #636681 solid;
}

.popover.bottom > .arrow {
    border-bottom-color: #636681;
}

.popover h4 {
    font-size: 18px;

}

div.public-service-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
}

div.public-service-indicator > div.triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #5b5f84;
    border-right: 40px solid transparent;
}

div.public-service-indicator > div.label {
    position: absolute;
    top: 5px;
    left: 0;
}

div.carousel {
    position: relative;
    left: 43px;
    width: 800px;
    height: 451px;
    border: 1px #5b5f84 solid;
    margin: 12px 0 24px;
}

@media (max-width: 991px) {
    div.carousel {
        left: 0;
        width: 100%;
        height: auto;
    }

    div.carousel:after {
        padding-top: 56.25%;
        display: block;
        content: '';
    }

}

div.carousel > img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    max-width: 100%;
    height: auto;

    z-index: 1030;
}

div.carousel a.back {
    opacity: 0.25;
    transition: opacity 0.5s;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    margin-top: -25px;
    left: 0px;
    background-color: #999999;
    color: #F7F7F7;
    z-index: 1031;
}

div.carousel a.back:hover {
    opacity: 1;
}

div.carousel a.forward {
    opacity: 0.25;
    transition: opacity 0.5s;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    right: 0;
    margin-top: -25px;
    background-color: #999999;
    color: #F7F7F7;
    z-index: 1031;
}

div.carousel a.forward:hover {
    opacity: 1;
}

div.carousel a.forward i.fa {
    position: absolute;
    line-height: 20px;
    top: 15px;
    right: 5px;
}

div.carousel a.back i.fa {
    position: absolute;
    line-height: 20px;
    top: 15px;
    left: 5px;
}

.modal-content .install-application .btn-primary {
    float: right;
}

.modal-content .rating-static {
    margin-left: 6px;
}
