div.desktop div.appzone {
    position: relative;
    float: left;
}

div.appzone div.app {
    float: left;
    overflow: hidden;

    height: 160px;
    width: 120px;

    padding-top: 10px;
    border-radius: 5px;

}

div.appzone div.dropzone {
    float: left;
    height: 160px;
    width: 20px;

    transition: width 0.2s;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    -ms-transition: width 0.2s;
}

div.appzone div.dropzone.dragover {
    width: 50px;
    background: url("/img/my/dropzone-bg.png");
}

div.appzone div.dropzone.dragging {
    border: 1px #59bcc1 dashed;
    border-radius: 5px;
}

div.app:hover {
    background: #e7e8ef;
}

a.app-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;

}

a.add-more {
    position: relative;
    border: 2px dashed #636681;
    border-radius: 10px;
    display: block;
    width: 64px;
    height: 64px;
    margin-left: 28px;
}

div.app a.add-more img {
    position: absolute;
    bottom: -16px;
    right: -16px;
}

/* Dash switcher */

div.dash-switcher {
    margin-top: 50px;
    color: #6e418e;
    font-size: 14pt;
}

div.dash-switcher ul.nav {
    padding-bottom: 10px;
    border-bottom: 1px solid #6e418e;
}

div.dash-switcher a {
    color: #6e418e;
}

div.dash-switcher ul.nav .active a {
    background-color: #6e418e;
}

div.dash-switcher a.dragging {
    border: 1px #59bcc1 dashed;
    border-radius: 5px;
}

div.dash-switcher a.dragging.over {
    background: url("/img/my/dropzone-bg.png");
}

div.dash-switcher ul.nav li.active div.dash-veil {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
}

div.dash-switcher ul.nav li.active input.form-control {
    position: relative;
    z-index: 2010;
}

div.delete-app {
    background: #f0ad4e;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

div.delete-app.over {
    background: #d9534f;

}