@font-face {
    font-family: 'Dunkin';
    src: url('/fonts/Dunkin.eot?') format('eot'),
    url('/fonts/Dunkin.woff') format('woff'),
    url('/fonts/Dunkin.ttf')  format('truetype'),
    url('/fonts/Dunkin.svg#Dunkin') format('svg');
}

@font-face {
	font-family: 'DIN';
	src: url('/fonts/DIN.eot?') format('eot'),
	     url('/fonts/DIN.woff') format('woff'),
	     url('/fonts/DIN.ttf')  format('truetype'),
	     url('/fonts/DIN.svg#DIN') format('svg');
}

@font-face {
    font-family: 'DINAlternate-Light';
    src: url('/fonts/DINAlternate-Light.eot?') format('eot'),
    url('/fonts/DINAlternate-Light.woff') format('woff'),
    url('/fonts/DINAlternate-Light.ttf')  format('truetype'),
    url('/fonts/DINAlternate-Light.svg#DIN') format('svg');
}


body {
  padding-top: 80px;
  font-family: "DIN", "Arial", "sans-serif";
  color: #333333;
}

h1 {
    font-family: "Dunkin";
    font-size: 26pt;
    color: #6e418e;
}

h2 {
    font-family: "DINAlternate-Light";
    font-size: 28pt;
    color: #222222;
}

h3 {
    font-family: "DIN";
    font-size: 21pt;
    color: #999999;
}

h4 {
    font-family: "DIN";
    font-size: 18pt;
    color: #666666;
}


h5 {
    font-family: "DIN";
    font-size: 14pt;
    color: #666666;
}

h6 {
    font-family: "DIN";
    font-size: 13pt;
    color: #222222;
}


b.caret {
    border: none;
    height: 15px;
    width: 15px;
    background: url("/img/icon/caret.png");
}

.btn-ozwillo {
    color: white;
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    border-width: 2px;
}

.btn-ozwillo:hover {
    background-color: white;
    color: #6e418e;
    border-color: #6e418e;
}

.btn-default {
    border-width: 2px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
    border-color: #999999;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #ffffff;
}

.btn-noborder {
    border: 0;
}

.navbar * .btn {
    font-size: 14pt;
}
.navbar * .btn-ozwillo {
    margin-top: 3px;
    margin-left: 13px;
}