@font-face {
    font-family: 'Dunkin';
    src: url('/fonts/Dunkin.eot?') format('eot'),
    url('/fonts/Dunkin.woff') format('woff'),
    url('/fonts/Dunkin.ttf') format('truetype'),
    url('/fonts/Dunkin.svg#Dunkin') format('svg');
}

@font-face {
    font-family: 'DIN';
    src: url('/fonts/DIN.eot?') format('eot'),
    url('/fonts/DIN.woff') format('woff'),
    url('/fonts/DIN.ttf') format('truetype'),
    url('/fonts/DIN.svg#DIN') format('svg');
}

@font-face {
    font-family: 'DINAlternate-Light';
    src: url('/fonts/DINAlternate-Light.eot?') format('eot'),
    url('/fonts/DINAlternate-Light.woff') format('woff'),
    url('/fonts/DINAlternate-Light.ttf') format('truetype'),
    url('/fonts/DINAlternate-Light.svg#DIN') format('svg');
}

body {
    padding-top: 75px;
    font-family: "DIN", "Arial", "sans-serif";
    color: #333333;
}

h1 {
    font-family: "Dunkin";
    font-size: 26pt;
    color: #6e418e;
}

h2 {
    font-family: "DINAlternate-Light";
    font-size: 28pt;
    color: #222222;
}

h3 {
    font-family: "DIN";
    font-size: 21pt;
    color: #999999;
}

h4 {
    font-family: "DIN";
    font-size: 18pt;
    color: #666666;
}

h5 {
    font-family: "DIN";
    font-size: 14pt;
    color: #666666;
}

h6 {
    font-family: "DIN";
    font-size: 13pt;
    color: #222222;
}

b.caret {
    border: none;
    height: 15px;
    width: 15px;
    background: url("/img/icon/caret.png");
}

b.caret.inverse {
    border: none;
    height: 15px;
    width: 15px;
    background: url("/img/icon/caret-inverse.png");
}

body, h2 {
    color: #636681;
}

.my-oasis-navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #636681;
    height: 78px;
}

div.my-oasis {
    position: relative;
}

div.my-oasis img {
    padding-top: 10px;
}

.navbar-collapse {
    background-color: white;
}
ul.navbar-nav.oasis-nav {
    margin-left: 10px;
    background-color: white;
}

.navbar-nav.oasis-nav li {
    position: relative;
    width: 100px;
    text-align: center;
    height: 76px;
}

.navbar-nav.oasis-nav li img {
    position: absolute;
    top: 10;
    left: 31px;
}

.navbar-nav.oasis-nav li img.gray {
    z-index: 1;
}

.navbar-nav.oasis-nav li img.purple {
    display: none;
    z-index: 2;
}

.navbar-nav.oasis-nav li span {
    position: relative;
    top: 40px;
    white-space: nowrap;
}

.navbar-nav.oasis-nav li a:hover {
    background-color: transparent;
}

.navbar-nav.oasis-nav li a {
    color: #666666;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav.oasis-nav li.active a {
    color: #6e418e;
}

.navbar-nav.oasis-nav li a:hover {
    color: #6e418e;
}

.navbar-nav.oasis-nav li.logout {
    background-color: #636681;
    margin-right: 15px;
}

.navbar-nav.oasis-nav li.logout a {
    color: #ffffff;

}

.navbar-toggle {
    background-color: #6e418e;
}

.navbar-brand {
    height: 76px;
}

.icon-bar {
    background-color: white;
}

.navbar * div.arrow-border {
    position: absolute;
    left: 40px;
    bottom: -20px;
    width: 10px;
    border: 10px solid transparent;
    border-top: 10px inset #636681;
}

.navbar * div.arrow {
    position: absolute;
    left: 40px;
    bottom: -18px;
    width: 10px;
    border: 10px solid transparent;
    border-top: 10px outset #ffffff;
}

@media (max-width: 768px) {
    .navbar * div.arrow-border {
        display: none;
    }

    .navbar * div.arrow {
        display: none;
    }

    .navbar-collapse {
        border-bottom: 1px solid #636681;
    }
}

span.badge-notifications {
    background-color: #d9534f;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 0px;
    display: none;
}

div.app span.badge-notifications {
    display: block;
    top: 0;
    right: 15px;
}

.dash-switch-link input {
    margin-top: 4px;
}

.form-group label {
    font-weight: normal;
}

.form-control:focus {
    border-color: rgba(110, 65, 142, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(110, 65, 142, .6);
}

li.dashboard_template {
    display: none;
}

.popover {
    z-index: 1040;
    border-color: #d9534f;
    border-width: 2px;
}

.popover.bottom > .arrow {
    border-bottom-color: #d9534f;
}

.popover.bottom > .arrow:after {
    top: 2px;
}

.popover-content {
    color: #d9534f;
}

.modal-content {
    box-shadow: none !important;
    border: 2px solid #636681;
}

.btn {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #6e418e;
    border-color: #ffffff;
    color: #ffffff;
    border-width: 2px;
}

.btn-primary:focus {
    background-color: #6e418e;
    border-color: #ffffff;
    color: #ffffff;
    border-width: 2px;
}

.btn-primary:active {
    background-color: #6e418e;
    border-color: #ffffff;
    color: #ffffff;
    border-width: 2px;
}

.btn-primary:hover {
    color: #6e418e;
    border-color: #6e418e;
    background-color: #ffffff;
}

.btn.btn-primary-inverse {
    color: #6e418e;
    background-color: transparent;
    border-radius: 10px;
    border: 2px #6e418e solid;
    font-size: 14px;
}

.btn.btn-primary-inverse:hover {
    background-color: #6e418e;
    color: #ffffff;
}

.btn.btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-radius: 10px;
    font-size: 14px;
    border: 2px #5cb85c solid;
}

.btn.btn-success:hover {
    color: #5cb85c;
    background-color: transparent;
}

.btn.btn-success-inverse {
    color: #5cb85c;
    background-color: transparent;
    border-radius: 10px;
    border: 2px #5cb85c solid;
    font-size: 14px;
}

.btn.btn-success-inverse:hover {
    color: #ffffff;
    background-color: #5cb85c;
}

.btn.btn-warning-inverse {
    color: #f0ad4e;
    background-color: transparent;
    border-radius: 10px;
    border: 2px #f0ad4e solid;
    font-size: 14px;
}

.btn.btn-warning-inverse:hover {
    color: #ffffff;
    background-color: #f0ad4e;
}

.btn.btn-danger-inverse {
    color: #d9534f;
    background-color: transparent;
    border-radius: 10px;
    border: 2px #d9534f solid;
    font-size: 14px;
}

.btn.btn-danger-inverse:hover {
    color: #ffffff;
    background-color: #d9534f;
}

.navbar-noauth {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.navbar-noauth li.active a {
    background-color: #eeeeee;
}

.navbar-noauth * a {
    font-size: 18px;
    color: #636884;
}

.navbar-noauth * a.logo {
    padding: 3px 15px 4px;
}

.navbar-noauth * img {
    vertical-align: middle;
}

.navbar-noauth * .dropdown-menu * a {
    font-size: 16px;
}

.navbar-noauth .dropdown-lang {
    margin: 0 15px;
}

.navbar-noauth .nav-apps a:before {
    display: block;
    content: "";
    margin-top: -5px;
    width: 40px;
    height: 30px;
    float: left;
    background: url('/img/my/app-store-sm.png') no-repeat top left;
}

.navbar-nav > li > a.btn-nav-noauth {
    padding-bottom: 6px;
    padding-top: 6px;

    margin-top: 7px;
    margin-bottom: 7px;
}

.btn-nav-noauth {
    border-color: #636884;
    border-radius: 4px;
}

.btn-noborder {
    border: 0;
}

a.lnk {
    margin-right: 5px;
}

a.lnk.remove {
    color: #EC5854;
}

a.lnk.edit {
    color: #50C9C8;
}

a.lnk.accept {
    color: #56C170;
}

a.lnk.cancel {
    color: #333333;
}

div.error-message {
    position: absolute;
    width: 80%;
    height: 30px;
    top: 50%;
    left: 10%;
    margin-top: -15px;
    background-color: #ff9999;
    border: #996666;
    text-align: center;
}

div#veil {
    height: 100%;
    width: 100%;
    background-color: #452959;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.75;
    z-index: 1040;
    display: none;
}

div#veil.in {
    display: block;
}

div#veil a {
    display: none;
}

* {
    margin: 0;

}

html, body {
    height: 100%;

}



div.container.main-content {
    padding-top: 20px;
}

.form-table-header {
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

.form-table-row {
    padding: 5px;
    border-bottom: 1px solid #CCC;
    line-height: 30px;
}

.form-table-row:last-child {
    border-bottom: none;
}

.form-table-actions {
    padding: 15px;
    padding-bottom: 5px;
}

.error {
    color: #d9534f;
}

input.switch {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
}

input[type='checkbox'].switch + label {
    padding: 0 18px 0 18px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #5cb85c;
}

input[type='checkbox'].switch:checked + label {
    background-color: #5cb85c;
}

.popup > .arrow {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    left: 50%;
    margin-left: -10px;
    top: -11px;
    bottom: 0;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-bottom: 10px rgba(0, 0, 0, 0.2) solid;
}

.popup > .arrow:after {
    position: absolute;
    width: 10px;
    height: 10px;
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-bottom: 10px white solid;
}

div.popup {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    width: 600px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    background-color: #fff;
    z-index: 1040;
}

/**
* Footer section
**/

/* wrapper and push are used to make the footer stick at the bottom of the screen */
.wrapper {
    min-height: 100%;
    margin: 0 auto -216px;
    /*margin: 0 auto -70px;*/
}

footer, .push {
    height: 216px;
    /*height: 70px;*/
}

.sitemap {
    width: 100%;
    background-color: #dfcae2;
    padding: 10px 10%;
}

.sitemap ul {
    margin-top: 20px;
}

.sitemap li {
    list-style-type: none;
    font-size: 16px;
    height: 28.375px;
    line-height: 22px;
    box-sizing: border-box;
}

.sitemap li:hover {
    background-color: #ffffff;
}

.sitemap h1 {
    font-size: 60px;
}

.sitemap a {
    color: #555555;
    padding: 0.2em;
}

.sitemap a:hover {
    text-decoration: none;
}

.footer {
    width: 100%;
    background-color: #6e418e;
    padding: 10px 30%;
    color: white;
}

.footer img {
    margin-right: 10px;
}

@media (min-width: 755px) {
    .sitemap {
        height: 146px;
    }

    .footer {
        height: 70px;
    }
}

div.legalese {
    margin-top: 40px;
    font-weight: bold;
}