<!doctype html>
<html>
<head data-th-replace="includes/header(title=#{ui.appstore},page='appstore')"></head>
<body>

<div data-th-replace="includes/my-header-content::header"></div>

<div data-th-replace="|includes/${user == null ? 'navigation' : 'my-navigation'}::nav|"></div>

<div class="oz-body page-row page-row-expanded">

    <div class="container-fluid">
        <div class="row" id="store-banner">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img data-th-src="@{/img/new/store.png}"/>
                    <span data-th-text="#{ui.appstore}">Catalogue</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="oz-body-content" id="store">
        <div class="text-center"><i class="fa fa-spinner fa-spin"></i><span data-th-text="#{ui.loading}"></span></div>
    </div>

    <div class="push"></div>

</div>

<div data-th-replace="includes/footer"></div>

<div data-th-replace="includes/scripts"></div>

<script data-th-src="@{/webjars/select2/3.5.2/select2.min.js}" type="text/javascript"></script>

<script data-th-src="@{/webjars/showdown/0.3.1/src/showdown.js}"></script>
<!-- BEWARE table.js is NOT minified in webjar and doesn't work with minified showdown (/webjars/showdown/0.3.1/compressed/showdown.js) -->
<script data-th-src="@{/webjars/showdown/0.3.1/src/extensions/table.js}"></script>

<script type="text/javascript" data-th-src="@{/webjars/bootstrap-star-rating/3.5.4/js/star-rating.min.js}"></script>

<script data-th-inline="javascript" type="text/javascript">
    var network_service = /*[[@{/my/api/network}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto';
    var store_service = /*[[@{/api/store}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto/store';
    var image_root = /*[[@{/img/}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/public/img/';
    var store_root = /*[[@{|/${currentLanguage.locale.language}/store|}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/templates/store';
    var default_app = /*[[${defaultApp}]]*/ {type: "service", id: "ck"};
    var logged_in = /*[[${user != null}]]*/ false;
    var languages = /*[[${localeLanguages}]]*/ ['en'];
    var webHome = /*[[${webHome}]]*/ 'http://localhost:8080';
</script>

<script type="text/jsx" src="../../public/js/network/create-or-modify-organization.jsx.js" data-th-src="@{/js/network/create-or-modify-organization.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/network/create-or-modify-organization.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/util/fileuploadinput.jsx.js" data-th-src="@{/js/util/fileuploadinput.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/util/fileuploadinput.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/network/search-organization.jsx.js" data-th-src="@{/js/network/search-organization.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/network/search-organization.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/store/store-install-app.jsx.js" data-th-src="@{/js/store/store-install-app.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/store/store-install-app.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/store/store.jsx.js" data-th-src="@{/js/store/store.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/store/store.min.js}" data-th-if="${!devmode}"></script>/*/-->

</body>
</html>
