#store-apps .container-app {
    min-width: 230px;
}

.container-app.installed-app{
    order: 2;
}

#store-apps .app {
    position: relative;
    padding-top: calc(25px + (64px / 2)); /* padding top + (image width / 2)  */
    overflow: visible;
    cursor: pointer;
}

#store-apps .logo {
    display: flex;
    position: absolute;
    top: calc((64px / 2) - 25px); /* (image size / 2)  - padding top */
    z-index: 1;
    background-color: var(--tertiary-color);
    border: solid 1px var(--primary-color);
    border-radius: 100%;
    left: calc(50% - (64px / 2) - 25px); /* (width / 2) - (image width / 2) - padding left */
    padding: 25px;
}

#store-apps .logo img {
    margin: auto;
    width: 64px;
    height: 64px;
}

#store-apps .app .description {
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    display: block;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
}

#store-apps .app .description .app-header {
    height: 160px;
    min-height: 128px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#store-apps .app .description .app-name {
    color: var(--secondary-color);
    font-size: 24px;
    margin: 90px 0 10px 0;
    text-align: center;
    display: block;
}

#store-apps .app .description .app-provider {
    color: var(--primary-color);
    font-size: 15px;
    text-align: center;
    display: block;
}

#store-apps .app .description .app-description {
    color: var(--black-color);
    font-size: 15px;
    margin: 0 40px 28px 40px;
    text-align: center;
    display: block;
    height: 100px;
}

#store-apps .app .description .public-service-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
}

#store-apps .app .description .public-service-indicator > div.triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #5b5f84;
    border-right: 40px solid transparent;
}

#store-apps .app .description .public-service-indicator > div.label {
    position: absolute;
    top: 5px;
    left: 0;
}

#store-apps .app .description .app-status {
    font-size: 16px;
    color: #fff;
    display: block;
    border: 0;
    margin-bottom: 15px;
}

#store-apps .app .description .app-status .btn {
    border-radius: 0;
}

#store-apps .app .description .app-status .btn-buy {
    background-color: var(--buy-color);
}

#store-apps .app .description .app-status .btn-buy-indicator {
    background-color: var(--buy-dark-color);
}

#store-apps .app .description .app-status .btn-free {
    background-color: var(--free-color);
}

#store-apps .app .description .app-status .btn-free-indicator {
    background-color: var(--free-dark-color)
}

#store-apps .app .description .app-status .btn-installed {
    background-color: var(--installed-color);
}

#store-apps .app .description .app-status .btn-installed-indicator {
    background-color: var(--installed-dark-color);
}

#store-apps .app .description .app-status .btn-buy,
#store-apps .app .description .app-status .btn-buy-indicator,
#store-apps .app .description .app-status .btn-free,
#store-apps .app .description .app-status .btn-free-indicator,
#store-apps .app .description .app-status .btn-installed,
#store-apps .app .description .app-status .btn-installed-indicator {
    margin: 0;
    color: var(--tertiary-color);
}