a.btn { text-decoration: none; }
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 2px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: var(--white-color);
}

.btn-line {
    margin-right: 10px;
}

.oz-btn-cancel {
    background-color: var(--gray-color);
    color: var(--white-color);
    border: 1px solid var(--gray-color);
}

.oz-btn-cancel.focus, .oz-btn-cancel:focus, .oz-btn-cancel:hover {
    background-color: var(--dark-gray-color);
    border: 1px solid var(--dark-gray-color);
}

.oz-btn-save {
    background-color: var(--green-color);
    color: #fff;
    border: 1px solid var(--green-color);;
}

.oz-btn-save.focus, .oz-btn-save:focus, .oz-btn-save:hover {
    background-color: var(--dark-green-color);
    color: #fff;
    border: 1px solid var(--dark-green-color);
}

.btn-warning {
    color: var(--white-color);
    background-color: var(--orange-color);
}

.btn-warning:hover {
    color: var(--white-color);
    background-color: var(--dark-orange-color);
}

.oz-btn-danger,
.oz-btn-close {
    background-color: var(--red-color);
    color: #fff;
    border: 1px solid var(--red-color);
}

.oz-btn-danger.focus, .oz-btn-danger:focus, .oz-btn-danger:hover,
.oz-btn-close.focus, .oz-btn-close:focus, .oz-btn-close:hover {
    background-color: var(--dark-red-color);
    color: var(--white-color);
    border: 1px solid var(--dark-red-color);
}

.btn-default {
    color: var(--white-color);
    background-color: var(--light-blue-color);
}

.btn-default.focus, .btn-default:focus, .btn-default:hover {
    color: var(--light-blue-color);
    background-color: var(--white-color);
}

.btn-default-inverse {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: 1px solid var(--blue-color);
}

.btn-default-inverse.focus, .btn-default-inverse:focus, .btn-default-inverse:hover {
    color: var(--blue-color);
    background-color: var(--white-color);
    border: 1px solid var(--blue-color);
}