
.arrow-regular {
    border-top-color: var(--primary-color) !important;
}

.tippy-popper[x-placement^=top] [data-animation=shift].enter {
    background-color: var(--primary-color);
    color: #fff;
}

.tippy-tooltip {
    -webkit-font-smoothing: initial !important;
    -moz-osx-font-smoothing: initial !important;
}