

.oz-dropdown-menu {
    background-color: white;
    color: #6f438e;
}

.oz-dropdown-menu  > .header {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    align-items: center;

    color: white;
    background-color: #4c2d62;
}

.oz-dropdown-menu  > .header .content {
    width: 100%;
}

.oz-dropdown-menu > .header .arrow-icon {
    font-size: 2em;
    cursor: pointer;
    align-self: end;
}

.oz-dropdown-menu > .content,
.oz-dropdown-menu > .footer {
    background-color: white;
    padding: 5px 10px;
}

.oz-dropdown-menu > .content.empty {
    padding: 0px;
}


/* Service dropdown */
.dropdown-header .form .dropdown-name {
    height: 100%;
    width: auto;
    align-items: center;
}

/* Organization dropdown */
.dropdown-content .apps {
    align-items: center;
    width: 100%;
}

.dropdown-content .apps > .list {
    flex-wrap: wrap;
}

.dropdown-content .apps.empty {
    width: 0;
}

.dropdown-content .apps .app {
    margin: 0 2px;
}

.dropdown-content .apps .app .launcher .icon {
    width: 42px;
}

.dropdown-content .apps .app .launcher .name {
    font-size: 0.8em;
}

.dropdown-content .invitation {
    margin: auto 0;
}

.dropdown-content .invitation .organization-invitation-form .label {
    width: auto;
}

