
.oz-form .oz-fieldset > .oz-legend {
    color: white;
}

.oz-form .oz-fieldset .flex-row {
    margin: 12px 20px
}

.oz-form .flex-row .label {
    text-align: right;
    min-width: 180px;
    max-width: 180px;
    font-size: 1em;
    white-space: normal;
}

.oz-form .flex-row .field {
    width: 100%;
}

.oz-form .flex-row .label,
.oz-form .flex-row .field {
    margin: auto 10px;
}


.oz-form .btn.submit {
    background-color: #00796b;
    color: white;
    width: 100%;
    font-size: 1.2em;
}