.oz-header {
    position: relative;
    min-height: 60px;
    margin-top: 20px;
}

.oz-header .logo-home {
    margin-left: 10px;
}

.oz-header .logo-home img.logo,
.oz-header .logo-home img.logo:after {
    display: block;
    content: var(--logo-url);
    width: 160px;
}

/* IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .oz-header .logo-home img.logo,
    .oz-header .logo-home img.logo:after {
        content: '';
        background: var(--logo-url) no-repeat;
        width: 160px;
        height: 80px;
    }
}

.my-oasis {
    width: 100%;
    position: absolute;
    left: 0;
}

.oz-header .welcome {
    font-size: 18px;
    margin-top: 25px;
}

.oz-header .welcome a {
    color: var(--secondary-color);
}

.oz-header .welcome .badge {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.oz-header .logo-container {
    position: absolute;
    height: 100%;
    width: 200px;
    border: 1px solid var(--tertiary-color);
    border-radius: 100px;
    z-index: 2;
    padding: 3px;
    background-color: var(--tertiary-color);
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2),
    1px -1px 4px rgba(0, 0, 0, 0.1);
}

.oz-header .navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.oz-header .user-container {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
}

.oz-header .logo-app {
    height: 100%;
    padding: 10px;
}

@media (max-width: 425px) {

    .oz-header {
        flex-direction: column !important;
        margin: 20px 0;
    }

    .my-oasis {
        position: initial;
    }

    .oz-header .logo-home {
        margin: 0 auto;
    }

    .oz-header .welcome {
        font-size: 1em;
    }

    .oz-header .logo-container {
        width: 120px;
    }

    .oz-header .logo-app {
        padding: 5px;
    }

    .oz-header .user-container {
        right: 0px;
        top: 0px;
    }

    .oz-header .user-container p {
        margin: 0;
    }

    .oz-header .welcome {
        margin: 8px 0;
    }

}