.modal-header .modal-title {
    font-size: 26px;
    color: var(--primary-color);
    margin: 0 0 20px 0;
}

.oz-simple-modal .modal-footer {
    border-top: none;
}

.modal-header .close {
    opacity: 1;
}

.modal-header .close .icon {
    color: var(--primary-color);
}