#oz-nav .navbar-nav >.menu > .link:hover,
#oz-nav .navbar-nav > .menu > .link.focus,
#oz-nav .navbar-nav > .menu > .link:focus {
    color: var(--white-color);
}

#oz-nav .navbar-nav > .menu > .link > .icon {
    margin-right: 5px;
}

#oz-nav {
    width: 100%;
    margin: auto 0 !important;
    background: var(--blue-color);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#oz-nav .navbar-nav > .menu {
    height: 50px;
    display: flex;
}

#oz-nav .dropdown.open > .link,
#oz-nav .dropdown-menu.open > .link,
#oz-nav .dropdown-menu > .menu > .link:hover,
#oz-nav .navbar-nav > .menu:hover,
#oz-nav .navbar-nav > .menu > .link:hover {
    background-color: var(--pink-color);
}

#oz-nav .navbar-nav > .menu > .link {
    color: var(--white-color);
    padding: 15px 10px;
}

#oz-nav .navbar-nav .menu-icon {
    font-size: 1.2em;
}

.navbar-toggle {
    cursor: pointer;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle.collapsed:hover,
.navbar-toggle.collapsed .icon-bar {
    background-color: var(--pink-color) !important;
}

.navbar-toggle.collapsed,
.navbar-toggle .icon-bar,
.navbar-toggle:hover .icon-bar{
    background-color: var(--blue-color) !important;
}

#ozwillo-navbar {
    position: relative;
}

#oz-nav .dropdown-menu {
    background-color: var(--blue-color);
}


#oz-nav .dropdown-menu > .menu > .link {
    color: var(--white-color);
}


@media (min-width: 768px) {
    #oz-nav.navbar {
        border-radius: 0;
    }
}

@media (max-width: 1024px) {
    #oz-nav .navbar-nav > .menu > .link {
        margin: auto 6px;
    }
}