#oz-nav .navbar-nav>li>a:hover,
#oz-nav .navbar-nav>li>a.focus,
#oz-nav .navbar-nav>li>a:focus {
    color: var(--white-color);
}

#oz-nav .navbar-nav>li>a>img {
    margin-right: 5px;
}

#oz-nav {
    width: 100%;
    margin: auto 0 !important;
    background: var(--blue-color);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#oz-nav .navbar-nav > li {
    min-height: 50px;
    display: flex;
}

#oz-nav .dropdown.open > a,
#oz-nav .dropdown-menu > li > a:hover,
#oz-nav .navbar-nav > li:hover,
#oz-nav .navbar-nav > li > a:hover {
    background-color: var(--pink-color);
}

#oz-nav .navbar-nav>li>a {
    color: var(--white-color);
    margin: auto 10px;
    padding: 0;
}

#oz-nav .navbar-nav .menu-icon {
    font-size: 1.2em;
}

.navbar-toggle {
    cursor: pointer;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle.collapsed:hover,
.navbar-toggle.collapsed .icon-bar {
    background-color: var(--white-color) !important;
}

.navbar-toggle.collapsed,
.navbar-toggle .icon-bar,
.navbar-toggle:hover .icon-bar{
    background-color: var(--blue-color) !important;
}

#ozwillo-navbar {
    position: relative;
}

#oz-nav .dropdown-menu {
    background-color: var(--blue-color);
}

#oz-nav .dropdown-menu > li > a {
    color: var(--white-color);
}


@media (min-width: 768px) {
    #oz-nav.navbar {
        border-radius: 0;
    }
}

@media (max-width: 1024px) {
    #oz-nav .navbar-nav>li>a {
        margin: auto 6px;
    }
}