.wrap-organization-card {
    margin: 2em 1.5em 0 1.5em;
    border-radius: 8px !important;
}

.organization-card {
    height: 150px;
    max-height: 150px;
    width: 200px;
    max-width: 200px;
    flex: 0 1 auto;
    flex-flow: column wrap;
    justify-content: space-between;
    display: flex;
}

.organization-card .card-title{
    text-align: center !important;
    font-size: 1.2em;
    white-space: normal;
    margin-top: 1em;
}

.organization-card .card-message{
    white-space: normal;
}

.organization-card .content-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-self: flex-end;
    flex-wrap: wrap;
}

.organization-card .delete .option-icon {
    color: var(--alert-color) !important;
}


.organization-card .content-card .option-icon{
    font-size: 1.5em;
    padding: 0.2em;
    color: var(--primary-color);
}

.organization-card:active .option-icon,
.organization-card:focus .option-icon,
.organization-card:hover .option-icon{
    color: var(--tertiary-color);
}

.organization-card .content-card .option-icon{
    font-size: 1.5em;
    padding: 0.2em;
}



