.organization-card {
    width: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
}

.organization-card .card-title{
    text-align: center !important;
}

.organization-card .content-card {
    display: flex;
    justify-content: space-around !important;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.organization-card .delete{
    margin-top: 10%;
    font-size: 1.5em;
}


.organization-card .delete .option-icon {
    color: var(--alert-color) !important;
}


.organization-card .content-card .option-icon{
    font-size: 1.5em;
    padding: 0.2em;
    color: var(--tertiary-color);
}

.organization-card:active .option-icon,
.organization-card:focus .option-icon,
.organization-card:hover .option-icon{
    color: var(--secondary-color);
}

.organization-card .content-card .option-icon{
    font-size: 1.5em;
    padding: 0.2em;
}



