label.pill-label{
    margin-bottom: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.badge.pill-label {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    font-size: 1em;
    cursor: pointer;
    padding: 1rem 1rem;
    min-width: 8rem;
    white-space: normal;
    border-radius: 2rem;
}
.pill-label:hover{
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, .3);
}

.pill-input:checked + .pill-label{
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--tertiary-color);

}

.pill-input{
    display: none;
}