.side-nav{
    background-color: var(--tertiary-color);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    max-height: 80vh;
}


.side-nav .content{
    padding-top: 10%;
    /*transition: width 0s 0.4s;*/
}

.side-nav-tongue{
    position: relative;
    font-size: 1.25em;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-width: 2px 2px 2px 0;
    border-radius: 0px 25px 25px 0;
    border-color: var(--black-color);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1%;
}

.side-nav-tongue .fa{
    font-size: 1.25em;
}

.side-nav-header .fa-chevron-left{
    padding: 0 5% 0 0;
    font-size: 1.5em;
    color: var(--primary-color);
    cursor: pointer;
}

.side-nav-header{
    display: flex;
    flex-flow: row wrap;
    min-height: 6vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0 0 0;

}

.open-header-children{
    padding: 0 0 0 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 80%;
}


