.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.side-menu > .black-background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.side-menu > .menu {
    width: 40%;
    min-width: 400px;
    background-color: #6f438e;
}

