.instances-tab .sub-title {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
}

.instances-tab .add-instance,
.instances-tab .instances-list {
    margin: 30px 0;
}

.instances-tab .instances-list > .instance {
    margin: 10px 0;
}

.instances-tab .select {
    min-width: 250px;
}

.instances-tab .service {
    color: var(--primary-color);
}

.instances-tab .btn-submit {
    background-color: var(--tertiary-color);
    padding: 5px 6px !important;
    margin-left: 1em;
}

