.members-tab .box {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    align-items: center;

    color: white;
    background-color: #4c2d62;
}

.members-tab .search {
    margin-bottom: 20px;
}

.add-member .label,
.add-member .action-icon,
.add-member .legend {
    color: white !important;
}

.members-tab .search-member .members-list > .member {
    margin: 10px 0;
}

.members-tab .select {
    min-width: 250px;
}
