.services-tab .add-service,
.services-tab .search-service {
    margin: 30px 0;
}

.services-tab .search {
    margin-bottom: 20px;
}

.services-tab .search-service .services-list > .service {
    margin: 10px 0;
}

.services-tab .select {
    min-width: 250px;
}

/* icons */
.services-tab .option-icon {
    color: #6f438e;
    font-size: 1.6em;
}

.service-header .option-icon,
.service-header .option-icon:hover {
    color: white;
}

.services-tab .option-icon.delete,
.services-tab .option-icon.delete:hover {
    color: #ce1717;
}