<!doctype html>
<html data-th-attr="lang=${currentLocaleLanguage}">
<head data-th-replace="includes/header(title=#{my.network.title},page='my')"></head>
<body>

<div data-th-replace="includes/my-header-content::header"></div>

<div data-th-replace="includes/my-navigation :: nav"></div>

<div class="oz-body page-row page-row-expanded">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img data-th-src="@{/img/new/reseau-gd.png}" src="../../public/img/new/reseau-gd.png"/>
                    <span data-th-text="#{my.network.title}">My network</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="oz-body-content">
        <div class="container" id="mynetwork">
            <div class="text-center"><i class="fa fa-spinner fa-spin"></i><span data-th-text="#{ui.loading}"></span></div>
        </div>
    </div>

    <div class="push"></div>

</div>

<div data-th-replace="includes/footer"></div>

<div data-th-replace="includes/scripts"></div>

<script type="text/javascript" data-th-src="@{/webjars/momentjs/2.9.0/min/moment-with-locales.min.js}"></script>
<script type="text/javascript" data-th-src="@{/webjars/select2/3.5.2/select2.min.js}"></script>

<script data-th-inline="javascript" type="text/javascript">
    var image_root = /*[[@{/img/}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/public/img/';
    var network_service = /*[[@{/my/api/network}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto';
    var store_service = /*[[@{/api/store}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto/store'; // for select2
    moment.locale(currentLanguage);
</script>

<script type="text/jsx" src="../../public/js/network/search-organization.jsx.js" data-th-src="@{/js/network/search-organization.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/network/search-organization.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/network/create-or-modify-organization.jsx.js" data-th-src="@{/js/network/create-or-modify-organization.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/network/create-or-modify-organization.min.js}" data-th-if="${!devmode}"></script>/*/-->
<script type="text/jsx" src="../../public/js/network/network.jsx.js" data-th-src="@{/js/network/network.jsx.js}" data-th-if="${devmode}"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/js/network/network.min.js}" data-th-if="${!devmode}"></script>/*/-->

</body>
</html>

