<!doctype html>
<html data-th-attr="lang=${currentLocaleLanguage}">
<head data-th-replace="includes/header(title=#{ui.appstore},page='appstore')"></head>
<body>

<div data-th-replace="includes/my-header-content::header"></div>

<div data-th-replace="|includes/${user == null ? 'navigation' : 'my-navigation'}::nav|"></div>

<div class="oz-body page-row page-row-expanded">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img data-th-src="@{/img/new/store.png}"/>
                    <span data-th-text="#{ui.appstore}">Catalogue</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="oz-body-content" id="store">
        <div class="text-center"><i class="fa fa-spinner fa-spin"></i><span data-th-text="#{ui.loading}"></span></div>
    </div>

    <div class="push"></div>

</div>

<div data-th-replace="includes/footer"></div>

<div data-th-replace="includes/scripts"></div>

<script data-th-inline="javascript" type="text/javascript">
    var network_service = /*[[@{/my/api/network}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto';
    var store_service = /*[[@{/api/store}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto/store';
    var store_root = /*[[@{|/${currentLanguage.locale.language}/store|}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/templates/store';
    var default_app = /*[[${defaultApp}]]*/ {type: "service", id: "ck"};
    var logged_in = /*[[${user != null}]]*/ false;
    var languages = /*[[${localeLanguages}]]*/ ['en'];
    var webHome = /*[[${webHome}]]*/ 'http://localhost:8080';
</script>

<script type="text/javascript" data-th-src="@{/build/appstore.bundle.js}"></script>
<script type="text/javascript" data-th-src="@{/build/contact.bundle.js}"></script>

</body>
</html>
