<footer>
    <div class="sitemap">
        <div class="row">
            <div class="col-sm-6 col-xs-12 text-center">
                <h1>Oasis</h1>

                <p data-th-text="#{footer.tagline}">A platform interactive services for a data common good</p>
            </div>
            <div class="col-sm-2 col-xs-4" data-th-each="col: ${sitemap}">
                <ul>
                    <li data-th-each="entry: ${col}"><a data-th-href="${entry.url}" data-th-text="${entry.label}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <img src="/img/icons/eu.png" class="pull-left"/>

                    <p data-th-text="#{footer.eu}">OASIS is a project cofunded by the EU under the Program for Competitiveness and Innovation CIP ICT PSP- N°297210</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script data-th-src="@{/webjars/jquery/1.11.0/jquery.min.js}" src="/webjars/jquery/1.11.0/jquery.min.js"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/minified/jquery-ui.min.js}"
        src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script data-th-src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"
        src="/webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script data-th-src="@{/webjars/select2/3.5.2/select2.js}"
        src="/webjars/select2/3.5.2/js/select2.min.js"></script>

<th:block data-th-if="${production}">
    <!-- pingdom -->
    <script>
        var _prum = [
            ['id', '53f5ac5cabe53d4f619d2936'],
            ['mark', 'firstbyte', (new Date()).getTime()]
        ];
        (function () {
            var s = document.getElementsByTagName('script')[0]
                    , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
        })();
    </script>
    <!-- pingdom -->

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.portal.oasis-eu.org"]);
        _paq.push(["setDomains", ["*.portal.oasis-eu.org"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = (("https:" == document.location.protocol) ? "https" : "http") + "://oasis.piwikpro.com/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 40]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.defer = true;
            g.async = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="https://oasis.piwikpro.com/piwik.php?idsite=40" style="border:0;" alt=""/></p></noscript>
    <!-- End Piwik Code -->


</th:block>
