<footer>
    <div class="sitemap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 text-center">
                    <img src="/img/logo-xl.png" alt="Ozwillo"/>
                    <p class="footer-tagline">
                        <span data-th-text="#{footer.tagline}">Digital commons creator</span>
                    </p>
                    <p>
                        <a href="https://www.ozwillo.com/en/oz/projects">
                            <img src="/img/icons/CIP.png" alt="CIP" title="Competitiveness and Innovation Framework Programme"/>
                        </a>
                        <a href="https://www.ozwillo.com/en/oz/projects">
                            <img src="/img/icons/eu.png" alt="EU" title="European funded OASIS project"/>
                        </a>
                        <a href="https://www.ozwillo.com/en/oz/projects">
                            <img src="/img/icons/PIA.png" alt="PIA" title="Programme d'investissements d'avenir"/>
                        </a>
                        <a href="https://www.ozwillo.com/en/oz/projects">
                            <img src="/img/icons/FR.png" alt="FR"/>
                        </a>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4" data-th-each="col: ${sitemap}">
                    <ul>
                        <li data-th-each="entry: ${col}"><a data-th-href="${entry.url}" data-th-text="${entry.label}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<script data-th-src="@{/webjars/jquery/1.11.0/jquery.min.js}" src="/webjars/jquery/1.11.0/jquery.min.js"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/minified/jquery-ui.min.js}"
        src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script data-th-src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"
        src="/webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script data-th-src="@{/webjars/select2/3.5.2/select2.js}" data-th-if="${devmode}"
        src="/webjars/select2/3.5.2/select2.min.js"></script>
<!--/*/<script type="text/javascript" data-th-src="@{/webjars/select2/3.5.2/select2.min.js}" data-th-if="${!devmode}"></script>/*/-->

<th:block data-th-if="${production}">
    <!-- pingdom -->
    <script>
        var _prum = [
            ['id', '54d88b12abe53d0e766aa318'],
            ['mark', 'firstbyte', (new Date()).getTime()]
        ];
        (function() {
            var s = document.getElementsByTagName('script')[0]
                , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
        })();
    </script>
    <!-- pingdom -->

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.portal.ozwillo.com"]);
        _paq.push(["setDomains", ["*.portal.ozwillo.com"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//oasis.piwikpro.com/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 69]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//oasis.piwikpro.com/piwik.php?idsite=69" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->


</th:block>
