<!doctype html>
<html>
<head data-th-replace="includes/header(title=#{ui.my},page='my')">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DUMMY Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../public/css/main.css" rel="stylesheet"/>
    <link href="../../public/css/my.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        @font-face {
            font-family: 'Dunkin';
            src: url('../../public/fonts/Dunkin.eot?') format('eot'),
            url('../../public/fonts/Dunkin.woff') format('woff'),
            url('../../public/fonts/Dunkin.ttf')  format('truetype'),
            url('../../public/fonts/Dunkin.svg#Dunkin') format('svg');
        }

        @font-face {
            font-family: 'DIN';
            src: url('../../public/fonts/DIN.eot?') format('eot'),
            url('../../public/fonts/DIN.woff') format('woff'),
            url('../../public/fonts/DIN.ttf')  format('truetype'),
            url('../../public/fonts/DIN.svg#DIN') format('svg');
        }

        @font-face {
            font-family: 'DINAlternate-Light';
            src: url('../../public/fonts/DINAlternate-Light.eot?') format('eot'),
            url('../../public/fonts/DINAlternate-Light.woff') format('woff'),
            url('../../public/fonts/DINAlternate-Light.ttf')  format('truetype'),
            url('../../public/fonts/DINAlternate-Light.svg#DIN') format('svg');
        }
    </style>

</head>
<body>


<div class="navbar navbar-fixed-top my-oasis-navbar" role="navigation" data-th-fragment="nav">
    <div class="navbar-header">

        <!---->

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand my-oasis" data-th-data="@{/my/api/notifications}">
            <img id="logo" data-th-src="@{/img/logo.png}" src="../../public/img/my/my-oasis.png"
                 alt="Ozwillo"/>
            <a href="#" data-th-href="@{/my/notif}"><span class="badge badge-notifications">0</span></a>
        </div>

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav oasis-nav" data-th-remove="all-but-first">

         <!-- Dashboard -->
            <li class="active" data-th-each="item : ${navigation}" data-th-class="${item.active ? 'active':''}">
                <a href="#" data-th-href="@{'/my/' + ${item.id}}" data-th-class="${item.active?'':'nav-link'}">
                    <img data-th-if="${!item.active}" data-th-src="@{'/img/my/' + ${item.id} + '-gray.png'}"
                         src="../../public/img/my/dashboard-gray.png" alt="Dashboard"
                         data-th-alt="#{'my.' + ${item.id}}" class="gray"/>
                    <img data-th-src="@{'/img/my/' + ${item.id} + '.png'}" src="../../public/img/my/dashboard.png"
                         alt="Dashboard" data-th-alt="#{'my.' + ${item.id}}"
                         data-th-class="${item.active?'':'purple'}"/>
                    <span data-th-text="#{'my.' + ${item.id}}">Dashboard</span>
                </a>
                <th:block data-th-if="${item.active}">
                    <div class="arrow-border"></div>
                    <div class="arrow"></div>
                </th:block>
            </li>

          <!-- Profile -->
            <li>
                <a href="#" class="nav-link">
                    <img class="gray" data-th-src="@{/img/my/profile-gray.png}"
                         src="../../public/img/my/profile-gray.png" alt="Profile"/>
                    <img class="purple" data-th-src="@{/img/my/profile-gray.png}" src="../../public/img/my/profile.png"
                         alt="Profile"/>
                    <span>Profile</span>
                </a>
                <div class="arrow-border"></div>
                <div class="arrow"></div>
            </li>

          <!-- Network -->
            <li>
                <a href="#" class="nav-link">
                    <img class="gray" data-th-src="@{/img/my/network-gray.png}"
                         src="../../public/img/my/network-gray.png" alt="Network"/>
                    <img class="purple" data-th-src="@{/img/my/network.png}" src="../../public/img/my/network.png"
                         alt="Network"/>
                    <span>Network</span>
                </a>
            </li>

            <!-- My Apps -->
            <li>
                <a href="#" class="nav-link">
                    <img class="gray" data-th-src="@{/img/my/apps-management-gray.png}"
                         src="../../public/img/my/appsmanagement-gray.png" alt="Apps Management"/>
                    <img class="purple" data-th-src="@{/img/my/apps-management.png}"
                         src="../../public/img/my/appsmanagement.png" alt="Apps Management"/>
                    <span>My Apps</span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav oasis-nav navbar-right">

           <!-- Catalog -->
            <li data-th-class="${isAppstore ? 'active':''}">
                <a href="#" class="nav-link" data-th-class="${isAppstore?'':'nav-link'}"
                   data-th-href="@{|/${currentLanguage.locale.language}/store|}">
                    <img data-th-if="${!isAppstore}" class="gray" data-th-src="@{/img/my/app-store-gray.png}"
                         src="../../public/img/my/app-store-gray.png" alt="Apps Store" data-th-alt="#{ui.appstore}"/>
                    <img data-th-class="${isAppstore?'':'purple'}" class="purple" data-th-src="@{/img/my/app-store.png}"
                         src="../../public/img/my/app-store.png" alt="Apps Store" data-th-alt="#{ui.appstore}"/>
                    <span data-th-text="#{ui.appstore}">Apps Store</span>
                </a>
                <th:block data-th-if="${isAppstore}">
                    <div class="arrow-border"></div>
                    <div class="arrow"></div>
                </th:block>
            </li>

            <!-- Data -->
	        <li class="nav-apps" >
	          <a href="#" class="nav-link " data-th-href="${sitemapheader.items[2].url}">
	            <img  alt="discover" class="gray" data-th-src="${sitemapheader.items[2].img_url}" />
	            <img  alt="discover" class="purple" data-th-src="${sitemapheader.items[2].img_url}" />
	            <span data-th-text="${sitemapheader.items[2].label}">Discover</span >
	          </a>
	       </li>

	       <!-- Discover -->
	       <li class="dropdown" data-th-each="submenu: ${sitemapheader.submenus[0]}">
	          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" data-th-href="${submenu.url}">
	            <img  class="gray" alt="discover" data-th-src="@{/img/my/oz-discover-gray.png}" src="../../public/img/my/oz-discover-gray.png"/>
	            <img  class="purple" alt="discover" data-th-src="@{/img/my/oz-discover.png}" src="../../public/img/my/oz-discover.png"/>
	            <span data-th-text="${submenu.title}">Discover</span><span class="caret"></span>
	          </a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		        <li role="presentation" data-th-each="entry: ${submenu.subItems}">
		           <a href="#" role="menuitem" tabindex="-1" data-th-href="${entry.url}" data-th-text="${entry.label}">Item</a>
		        </li>
	          </ul>
	       </li>

	       <!-- Logout -->
            <li class="logout">
                <a href="#" data-th-href="@{/logout}">
                    <img src="../../public/img/my/logout.png" alt="Logout" data-th-src="@{/img/my/logout.png}"/>
                    <span data-th-text="${user.name}">A. Williams</span>
                </a>
            </li>
        </ul>
    </div>
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="../../public/js/my.js" ></script>


</body>
</html>
