<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" >
            <a th:switch="${logo}" href="#" th:href="@{/}">
                <img id="logo" th:case="'white'" th:src="@{/img/ozwillo-logo-white-small.png}"
                     src="../public/img/ozwillo-logo-white-small.png"
                     alt="Ozwillo"/>
                <img id="logo" th:case="*" th:src="@{/img/ozwillo-logo-small.png}"
                     src="../public/img/ozwillo-logo-small.png"
                     alt="Ozwillo"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right" th:switch="${user}">

            <th:block th:case="null">
                <li><a href="#" th:href="@{/my}" class="btn btn-ozwillo" ><i class="fa fa-user"></i> <th:block th:text="#{ui.login}">Log in</th:block></a></li>
            </th:block>
            <th:block th:case="*">
                <li><a href="#" class="btn btn-ozwillo" th:href="@{/my}" th:text="#{ui.my}">My Ozwillo</a></li>
                <li><a href="#" class="btn btn-ozwillo" th:href="@{/logout}" th:text="|#{ui.logout} ${user.name}|">Sign out</a></li>
            </th:block>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-ozwillo btn-noborder" data-toggle="dropdown"><th:block th:text="${currentLanguage.name}">English</th:block> <b class="caret"></b></a>
                <ul class="dropdown-menu" >
                    <li><a href="#" th:each="lang : ${languages}" th:href="|?lang=${lang.language}|" th:text="${lang.name}">Blablaish</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

