<!doctype html>
<html data-th-attr="lang=${currentLocaleLanguage}">
<head data-th-replace="includes/header(title=#{ui.my},page='dashboard')"></head>
<body>

<div data-th-replace="includes/my-header-content::header"></div>

<div data-th-replace="includes/my-navigation :: nav"></div>

<div class="oz-body page-row page-row-expanded">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img data-th-src="@{/img/dashboard-lg.png}" />
                    <span data-th-text="#{my.dashboard}">Mes bureaux</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="oz-body-content">
        <div class="container" id="dashboard">
            <div class="text-center"><i class="fa fa-spinner fa-spin"></i><span data-th-text="#{ui.loading}"></span></div>
        </div>
    </div>

    <div class="push"></div>

</div>

<div data-th-replace="includes/footer"></div>

<div data-th-replace="includes/scripts"></div>

<script data-th-inline="javascript" type="text/javascript">
    var store_root = /*[[@{|/${currentLanguage.locale.language}/store|}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/templates/store';
    var dash_service = /*[[@{/my/api/dashboard/}]]*/ '';
</script>

<script type="text/javascript" data-th-src="@{/build/dashboard.bundle.js}"></script>
<script type="text/javascript" data-th-src="@{/build/contact.bundle.js}"></script>

</body>
</html>
