<!doctype html>
<html data-th-attr="lang=${currentLocaleLanguage}">
<head data-th-replace="includes/header(title=#{ui.my},page='my')"></head>
<body>

<div data-th-replace="includes/my-header-content::header"></div>

<div data-th-replace="includes/my-navigation :: nav"></div>

<div class="oz-body page-row page-row-expanded">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <img data-th-src="@{/img/bell.png}" alt="Notification icon"/>
                    <span data-th-text="#{ui.notifications}">Mes notifications</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="oz-body-content">
        <div class="container" id="notifications">
        </div>
    </div>

    <div class="push"></div>

</div>

<div data-th-replace="includes/footer"></div>

<div data-th-replace="includes/scripts"></div>

<script data-th-inline="javascript" type="text/javascript">
    var _i18n = /*[[${notif_i18n}]]*/ {};
    var notificationService = /*[[@{/my/api/notifications}]]*/ '../_proto/notif.json';
</script>

<script type="text/javascript" data-th-src="@{/build/notifications.bundle.js}"></script>
<script type="text/javascript" data-th-src="@{/build/contact.bundle.js}"></script>

</body>
</html>

