#dashboard .nav-tabs {
    border-bottom-color: var(--blue-color);
}

#dashboard ul.nav.nav-tabs > li {
    margin-right: 10px;
}

#dashboard ul.nav.nav-tabs > li > a {
    font-size: 20px;
    color: var(--blue-color);
    border-radius: 0;
    border: 1px solid var(--blue-color);
}

#dashboard ul.nav.nav-tabs > li > a:hover {
    color: var(--white-color);
    background-color: var(--blue-color);
}

#dashboard ul.nav.nav-tabs > li.active > a {
    background-color: var(--blue-color);
    color: var(--white-color);
}

#dashboard ul.nav.nav-tabs > li.active > a:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
}

#dashboard ul.nav.nav-tabs > li > a i {
    margin-left: 5px;
}

#dashboard div.all-apps {
    padding-left: 0;
}

#dashboard div.appzone {
    position: relative;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#dashboard div.appzone div.dropzone {
    float: left;
    height: 160px;
    width: 20px;
    transition: width 0.2s;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    -ms-transition: width 0.2s;
}

#dashboard div.appzone div.app {
    float: left;
    overflow: hidden;
    min-height: 100px;
    max-height: 140px;
    min-width: 100px;
    max-width: 140px;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
    position:relative;
    display:inline-block;

    color: var(--pink-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

#dashboard div.appzone div.app:hover {
    color: var(--white-color);
    background-color: var(--pink-color);
}

#dashboard div.appzone div.app span.badge-notifications {
    position: absolute;
    right:17px;
    top:0;
    background: var(--red-color);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: var(--white-color);
    padding:5px 8px;
    font-size:12px;
}

#dashboard div.appzone div.app.pending img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}

#dashboard div.appzone.delete-app {
    width: 140px;
}

#dashboard div.appzone.delete-app div.app {
    margin-left: 20px;
}

#dashboard div.appzone div.app div.action-icon {
    height: 64px;
    width: 64px;
    margin: auto;
}

#dashboard .action-icon a {
    color: var(--blue-color);
}

#dashboard div.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#dashboard div.top-menu .action-icon {
    font-size: 0.8em;
    margin: 0 2px;
}

#dashboard div.top-menu .action-icon.delete-app {
    color: var(--red-color);
}

#dashboard div.top-menu .action-icon .fa-border {
    padding: 5px;
}


/* See non-webkit sol : http://codepen.io/anon/pen/oXxKpE?editors=110 */
@supports (-webkit-line-clamp: 4) {
    #dashboard div.appzone div.app p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #dashboard div.appzone div.app p:after {
        display: none;
    }
}