#myapps .authority {
    padding: 10px 20px;
}

#myapps .authority-header {
    background-color: var(--light-blue-color);
    font-size: 20px;
    color: var(--white-color);
}

#myapps .authority-body {
    background-color: white;
    color: var(--black-2-color);
}

#myapps .authority-body .authority-app {
    border-bottom: 1px solid #CCC;
}

#myapps .authority-body .authority-app:last-child {
    border-bottom: none;
}

#myapps .authority-body .authority-app div.users-table {
    max-height : 300px;
    overflow-y : auto;
    margin-top: 1em;
}

#myapps .authority-body .authority-app-title,
#myapps .authority-body .authority-noapp,
#myapps .authority-body .authority-app-services-title {
    margin-top: 10px;
}

#myapps .authority-app-noservices {
    margin-bottom: 10px;
}

#myapps .authority-app-title h3 {
    display: inline;
    margin-left: 10px;
}

#myapps .authority-app-services {
    padding: 5px;
    border-bottom: 1px solid #CCC;
    line-height: 30px;
    color: #333;
}

#myapps .authority-app-services:last-child {
    border-bottom: none;
}

#myapps .btn-upload {
    position: relative;
    overflow: hidden;
}

#myapps .btn-upload  input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
}