
.organization .title,
.organization form.search {
    margin: 20px auto;
    text-align: center;
}

.organization form.search {
    width: 100%;
}


.organization .search .field {
    margin: auto;

    width: 50%;
    min-width: 300px;
}

.organisations-list .item > .organization {
    margin: auto;

    width: 80%;
    min-width: 300px;
}
