.organization-search form.search {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.organization-search form.search {
    width: 100%;
}

.organization-search .search .field {
    margin: auto;
    min-width: 45vw;
}
.organization-search .search .react-autosuggest__suggestions-container--open{
    margin: auto;
    left: 25%;
    width: 50%;
    min-width: 300px;
}

.organization-search .organisations-list .organization {
    margin: 15px 0;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

.organization-search .action-icon {
    font-size: 2.4em;
    color: white;
}

.organization-search .organization-invitation-form .error {
    color: var(--alert-color);
}

.organization-search .organization-invitation-form .success {
    color: var(--primary-color);
}

.organization-search .organization-invitation-form .wrapper {
    flex-wrap: wrap;
}

.organization-search .dropdown-content ul.list > li:after {
    display: none;
}

.organization-search .history-title{
    font-size: 1.25em;
}


.organization-search .history-title i{
    padding-right: 0.5em;
    color: var(--primary-color);
}

.organization-search .container-organization-history{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.organization-search .container-organization-history .content-card-history{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 90%;

}






@media (max-width: 425px) {
    .organization-search .options {
        margin: 5px 0;
    }
}
