.organization-desc .header .title {
    width: 100%;
    text-align: center;
    color: var(--purple-color);
    font-weight: bold !important;
}

.organization-desc > .header,
.organization-desc > .content {
    margin: 10px 0;
}

