.organization-create .header .title {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

.organization-create > .header,
.organization-create > .content {
    margin: 10px 0;
}

.organization-create .error {
    color: red;
    text-align: center;
    font-size: 1.2em;
}

