.organization {
    background-color: white;
    border: 1px solid #6f438e;
    margin-bottom: 1em;
}

div.organization .organization-header {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #6f438e;
    background-color: #ECEFF1;
}

div.organization .organization-member-row {
    padding: 5px 15px;
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #CCC;
    line-height: 30px;
    color: #333;
}

div.organization .organization-pending-member-row {
    font-style: italic;
    padding: 5px 15px;
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #CCC;
    line-height: 30px;
    color: #333;
}

.organization-pending-member-row:last-child, .organization-member-row:last-child {
    border-bottom: none;
}

.add-organization-action {
    margin-bottom: 1em;
}