
.organization-search .title {
    color: var(--pink-color);
    font-weight: bold !important;
    text-align: center;
    font-size: 2em;
}

.organization-search form.search {
    margin: 20px auto;
    text-align: center;
}

.organization-search form.search {
    width: 100%;
}


.organization-search .search .field {
    margin: auto;

    width: 50%;
    min-width: 300px;
}

.organization-search .organisations-list .organization {
    margin: 10px 0;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    color: white;
}


.organization-search .action-icon {
    font-size: 2.4em;
    color: white;
}
