
#legal {
    font-size: smaller;
    margin-top: 30px;
    color: var(--secondary-color);
}

#profile .change-password {
    text-align: center;
}

#profile .sub-title {
    color: var(--primary-color);
    font-weight: bold !important;
    margin: 5px 0;
    font-size: 1.2em;
    text-transform: uppercase;
}

#profile .btn {
    min-width: 200px;
    font-size: 1.2em;
    margin: 5px auto;
    white-space: normal;
    font-weight: inherit;
}