#profile h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #9271a9;
}

#profile form label {
    color: #dcd9d9;
}

#profile form span.form-value {
    font-size: 16px;
}

#profile form a.change-password {
    text-decoration: underline;
    color: #add8e6;
}

#legal {
    font-size: smaller;
    margin-top: 30px;
}