
.synchronize-fc-profile > form legend {
    color: var(--primary-color);
    margin: 0;
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
}

.synchronize-fc-profile > form .row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.synchronize-fc-profile > form .row .item > input {
    margin: 0 10px;
}

.synchronize-fc-profile > form .row .title.item {
    margin: auto;
    font-size: 1.8em;
}

.synchronize-fc-profile > form .row label.item {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    font-size: 1.5em;
    cursor: pointer;
    border: solid 1px var(--secondary-color);
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: normal;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.2);
}

.synchronize-fc-profile .row.submit {
    justify-content: center;
    margin: 5px 0;
}

.synchronize-fc-profile {
    display: flex;
    flex-direction: column;
}

@media (max-width: 425px) {
    .synchronize-fc-profile > form .row .title {
        display: none;
    }

    .synchronize-fc-profile > form .row {
        flex-wrap: wrap;
    }

    .synchronize-fc-profile > form .row .item {
        margin: 10px 0;
    }
}