<!doctype html>
<html>
<head th:replace="includes/header(title='Ozwillo',page='home')">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DUMMY Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../public/css/main.css" rel="stylesheet"/>
    <link href="../public/css/home.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <img id="logo" th:src="@{/img/ozwillo-logo-white-small.png}"
                 src="../public/img/ozwillo-logo-white-small.png"
                 alt="Ozwillo"/>
        </div>
        <div class="pull-right">
            <a href="#about" class="btn btn-ozwillo">Join us!</a>
            <a href="#about" class="btn btn-ozwillo">Log in</a>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h2 class="text-center" th:text="#{home.tagline}">Hello, World!</h2>

        <div class="row">
            <div class="col-md-4 text-center">
                <h1 th:text="#{home.applications}">Applications</h1>

                <p th:text="#{home.applications.desc}">Bla bla bla?</p>

                <form>
                    <div class="form-group text-left">
                        <div class="left-inner-addon">
                            <i class="fa fa-search"></i>
                            <input type="search" class="form-control" placeholder="search"
                                   th:placeholder="#{home.applications.placeholder}"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{ui.find}">Search</button>
                </form>
            </div>
            <div class="col-md-4 col-md-offset-4 text-center">
                <h1 th:text="#{home.data}">Data</h1>
                <button type="submit" class="btn btn-primary" th:text="#{ui.go}">Search</button>
            </div>
        </div>
    </div>
</div>




<div class="container">


</div>
<!-- /.container -->

<th:block th:replace="includes/footer">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</th:block>

<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script th:src="@{/js/home.js}" src="../public/js/home.js"></script>
</body>
</html>
