<!doctype html>
<html>
<head data-th-replace="includes/header(title=#{my.network.title},page='my')">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DUMMY Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../public/css/main.css" rel="stylesheet"/>
    <link href="../public/css/my.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        @font-face {
            font-family: 'Dunkin';
            src: url('../public/fonts/Dunkin.eot?') format('eot'),
            url('../public/fonts/Dunkin.woff') format('woff'),
            url('../public/fonts/Dunkin.ttf')  format('truetype'),
            url('../public/fonts/Dunkin.svg#Dunkin') format('svg');
        }

        @font-face {
            font-family: 'DIN';
            src: url('../public/fonts/DIN.eot?') format('eot'),
            url('../public/fonts/DIN.woff') format('woff'),
            url('../public/fonts/DIN.ttf')  format('truetype'),
            url('../public/fonts/DIN.svg#DIN') format('svg');
        }

        @font-face {
            font-family: 'DINAlternate-Light';
            src: url('../public/fonts/DINAlternate-Light.eot?') format('eot'),
            url('../public/fonts/DINAlternate-Light.woff') format('woff'),
            url('../public/fonts/DINAlternate-Light.ttf')  format('truetype'),
            url('../public/fonts/DINAlternate-Light.svg#DIN') format('svg');
        }

    </style>
</head>
<body>

<div class="wrapper">

<div class="navbar navbar-fixed-top my-oasis-navbar" role="navigation" data-th-replace="includes/my-navigation :: nav">
    <div class="navbar-header">
        <div class="my-oasis">
            <img id="logo" data-th-src="@{/img/my/my-oasis.png}" src="../public/img/my/my-oasis.png"
                 alt="My OASIS"/>
            <span class="badge badge-notifications" data-th-if="${notificationsCount != 0}" data-th-text="${notificationsCount}">4</span>
        </div>
    </div>
</div>

<div class="profile-header" >
    <div class="container">
        <h1>
            <img data-th-src="@{/img/my/network-gray.png}" src="../public/img/my/network-gray.png" />
            <span data-th-text="#{my.network.title}">My network</span>
        </h1>
        
        <h2><span data-th-text="#{my.network.find-or-create-organization}">Find or create organization</span> <a data-toggle="modal" data-target="#create-org" class="btn btn-success" href="#" data-th-text="#{ui.go}">Go</a></h2>

        <!--/* Existing organizations */-->
        <div id="organizations" data-th-fragment="organizations">
            <div class="standard-form" data-th-each="authority: ${authorities}">
                <div class="row form-table-header">
                    <div class="col-sm-8" data-th-text="${authority.name}">Com com de Valence</div>
                    <div class="col-sm-4">
                        <a class="btn btn-primary invite-button" data-th-attr="data-orgid=${authority.id}" data-th-if="${authority.admin}" data-th-text="#{my.network.invite}" data-toggle="modal" data-target="#invite">Invite</a>
                        <a class="btn btn-primary" data-th-text="#{my.network.information}">Information</a>
                        <a class="btn btn-danger" href="#" data-th-href="@{|/my/network/delete/${authority.id}|}" data-th-if="${devmode}">Delete</a>
                    </div>

                </div>
                <div class="row form-table-header">
                    <div class="col-sm-3" data-th-text="#{my.network.who}">Who</div>
                    <div class="col-sm-3" data-th-text="#{my.network.role}">Role</div>
                    <div class="col-sm-4 col-sm-offset-2"></div>
                </div>
                <div class="row form-table-row" data-th-each="agent: ${agents[authority.id]}" data-th-attr="data-agentid=${agent.userid}, data-orgid=${authority.id}">
                    <div class="col-sm-3" data-th-text="${agent.userid == user.userId} ? #{my.network.you} : ${agent.fullname}">You</div>
                    <div class="col-sm-3 view-mode" data-th-text="${agent.admin} ? #{my.network.admin}:#{my.network.user}">Admin</div>
                    <div class="col-sm-3 edit-mode"><span data-th-text="#{my.network.admin}">Admin</span> <input type="checkbox" name="admin" data-th-checked="${agent.admin}"/></div>
                    <div class="col-sm-4 col-sm-offset-2 view-mode" data-th-if="${authority.admin and agent.userid != user.userId}">
                        <a class="lnk-edit" href="#"><i class="fa fa-pencil"></i> <span data-th-text="#{ui.edit}">edit</span></a>
                        <a class="lnk-remove" href="#" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i> <span data-th-text="#{ui.remove}">remove</span></a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 edit-mode">
                        <a class="lnk-accept" href="#" data-th-if="${authority.admin}"><i class="fa fa-check"></i> <span data-th-text="#{ui.save}">save changes</span></a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-th-text="#{my.network.confirm-delete.title}">

                ...
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{ui.cancel}">Cancel</button>
                <a href="#" class="btn btn-danger danger" data-th-text="#{ui.delete}">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-th-text="#{my.network.invite}">
                Invite
            </div>
            <div class="modal-body">
                <form id="invite-form">
                    <input type="hidden" id="organization"/>
                    <div class="form-group">
                        <label for="inviteEmail" data-th-text="#{my.network.email}">Email</label>
                        <input type="email" class="form-control" id="inviteEmail" placeholder="somebody@example.com" data-th-attr="placeholder=#{my.network.email.placeholder}" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{ui.cancel}">Cancel</button>
                <a href="#" class="btn btn-primary" data-th-text="#{my.network.invite}" id="inviteSubmit">Invite</a>
            </div>
        </div>
    </div>
</div>

<div data-th-replace="network/create-org::create-org"></div>

    <div class="push"></div>
</div>

<data-th-block data-th-replace="includes/footer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</data-th-block>
<script src="../public/js/csrf.js" data-th-src="@{/js/csrf.js}"></script>
<script src="../public/js/my.js" data-th-src="@{/js/my.js}"></script>
<script src="../public/js/network.js" data-th-src="@{/js/network.js}"></script>

</body>
</html>

