<!doctype html>
<html>
<head th:replace="includes/header(title=#{ui.my},page='my')">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DUMMY Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../public/css/main.css" rel="stylesheet"/>
    <link href="../public/css/my.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        @font-face {
            font-family: 'Dunkin';
            src: url('../public/fonts/Dunkin.eot?') format('eot'),
            url('../public/fonts/Dunkin.woff') format('woff'),
            url('../public/fonts/Dunkin.ttf')  format('truetype'),
            url('../public/fonts/Dunkin.svg#Dunkin') format('svg');
        }

        @font-face {
            font-family: 'DIN';
            src: url('../public/fonts/DIN.eot?') format('eot'),
            url('../public/fonts/DIN.woff') format('woff'),
            url('../public/fonts/DIN.ttf')  format('truetype'),
            url('../public/fonts/DIN.svg#DIN') format('svg');
        }

        @font-face {
            font-family: 'DINAlternate-Light';
            src: url('../public/fonts/DINAlternate-Light.eot?') format('eot'),
            url('../public/fonts/DINAlternate-Light.woff') format('woff'),
            url('../public/fonts/DINAlternate-Light.ttf')  format('truetype'),
            url('../public/fonts/DINAlternate-Light.svg#DIN') format('svg');
        }
    </style>

</head>
<body>

<div class="navbar navbar-fixed-top my-oasis-navbar" role="navigation" th:replace="includes/my-navigation :: nav">
    <div class="navbar-header">

        <div class="my-oasis">
            <img id="logo" th:src="@{/img/my/my-oasis.png}" src="../public/img/my/my-oasis.png"
                 alt="My OASIS"/>
            <span class="badge badge-notifications" th:if="${notificationsCount != 0}" th:text="${notificationsCount}">4</span>
        </div>
    </div>


</div>

<div class="profile-header">
    <div class="container">
        <h1>
            <img src="/img/my/profile-gray.png" />
            My Profile
        </h1>
        
        <div class="row">
            <div class="col-md-2 avatar-block">
                <img class="avatar" src="/img/my/avatar/img-21.png" /><br />
                <button class="btn btn-edit" type="button"><span class="edit"></span>Change avatar</button>
            </div>
            <div class="col-md-10">
                <h2 class="form-title account-data">Account data</h2>
                <form class="form-horizontal account-data-form" role="form">
                  <div class="form-group">
                      <label for="email" class="col-sm-2 control-label">My email :</label>
                      <div class="col-sm-9">
                          <span class="form-value">alice@example.fr</span>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-2"></div>
                      <div class="col-sm-10">
                          <button class="btn btn-edit" type="button"><span class="edit"></span>Change email</button>
                          <button class="btn btn-edit" type="button"><span class="edit"></span>Change password</button>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-2 control-label">My language :</label>
                      <div class="col-sm-10">
                        <button class="btn btn-default dropdown-toggle" type="button" id="languageLabel" data-toggle="dropdown">
                        English
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="languageLabel">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Français</a></li>
                      </ul>
                      </div>
                  </div>
                </form>
            </div>
        </div>    
    
    </div>
</div>

<div class="container">

   <div class="row">
       <div class="col-sm-2"></div>
       <div class="col-sm-10">
        <h2 class="form-title">Personal data</h2>
       </div>
   </div>
   
   <div class="row">
       <div class="col-sm-2 form-toggle-block">
       	<button class="btn btn-primary btn-form-toggle" type="button">Identity</button>
       	<button class="btn btn-edit btn-form-toggle" type="button"><span class="edit"></span>Edit</button>
       </div>
       <div class="col-sm-10 form-data-block">
        <form class="form-horizontal personal-data-form" role="form">
          <div class="form-group">
              <label for="first-name" class="col-sm-2 control-label">First name :</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="first-name" value="Alice" />
              </div>
          </div>
          <div class="form-group">
              <label for="last-name" class="col-sm-2 control-label">Last name :</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="last-name" value="Dupont" />
              </div>
          </div>
        </form>
       </div>
   </div>
     
   <div class="row">       
       <div class="col-sm-2 form-toggle-block">
       	<button class="btn btn-primary btn-form-toggle" type="button">Address</button>
       	<button class="btn btn-edit btn-form-toggle" type="button"><span class="edit"></span>Edit</button>
       </div>
       <div class="col-sm-10 form-data-block">
        <form class="form-horizontal personal-data-form" role="form">
          <div class="form-group">
              <label for="address-line-1" class="col-sm-2 control-label">Address line 1 :</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="address-line-1" value="2, Rue de la rouille" />
              </div>
          </div>
          <div class="form-group">
              <label for="address-line-2" class="col-sm-2 control-label">Address line 2 :</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="address-line-2" value="Batiment 1, Appartement 4" />
              </div>
          </div>
        </form>
       </div>
   </div>
</div>
    
<th:block th:replace="includes/footer">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</th:block>

<script src="../public/js/my.js" th:src="@{/js/my.js}"></script>

</body>
</html>

