<!doctype html>
<html>
<head data-th-replace="includes/header(title=#{my.profile.title},page='my')">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DUMMY Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../public/css/main.css" rel="stylesheet"/>
    <link href="../public/css/my.css" rel="stylesheet"/>
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrapper">
<div class="navbar navbar-fixed-top my-oasis-navbar" role="navigation" data-th-replace="includes/my-navigation :: nav">
    <div class="navbar-header">
        <div class="my-oasis">
            <img id="logo" data-th-src="@{/img/my/my-oasis.png}" src="../public/img/my/my-oasis.png"
                 alt="My OASIS"/>
            <span class="badge badge-notifications" data-th-if="${notificationsCount != 0}" data-th-text="${notificationsCount}">4</span>
        </div>
    </div>
</div>

<div id="layouts" class="container" data-th-data="${currentLanguage.locale}">
   <div class="row">
       <div class="col-sm-2"></div>
       <div class="col-sm-10">
        <h2 class="form-title" data-th-text="#{my.profile.title.personal}">Personal data</h2>
       </div>
   </div>
   <div data-th-each="layout : ${layouts}">
        <div data-th-include="includes/my-profile-fragments :: layout(${layout})"></div>
   </div>
</div>

    <div class="container legalese">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <p data-th-text="#{my.profile.disclaimer.line1}">Disclaimer line 1</p>
                <p data-th-text="#{my.profile.disclaimer.line2}">Disclaimer line 2</p>
                <p data-th-text="#{my.profile.disclaimer.line3}">Disclaimer line 3</p>
            </div>
        </div>
    </div>

    <div class="push"></div>
</div>
<data-th-block data-th-replace="includes/footer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</data-th-block>

<script data-th-inline="javascript" type="text/javascript">
    var store_service = /*[[@{/api/store}]]*/ '/portal-parent/oasis-portal-front/src/main/resources/_proto/store'; // for select2
</script>

<script type="text/javascript" data-th-src="@{/js/util/message.js}" src="../../public/js/util/message.js"></script>

<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-it.js}"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-es.js}"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-ca.js}"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-tr.js}"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-bg.js}"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-fr.js}"></script>
<script data-th-src="@{/webjars/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-en-GB.js}"></script>

<script src="../public/js/csrf.js" data-th-src="@{/js/csrf.js}"></script>
<script src="../public/js/my.js" data-th-src="@{/js/my.js}"></script>
<script src="../public/js/profile.js" data-th-src="@{/js/profile.js}"></script>

</body>
</html>

