<!doctype html>
<html>
<head th:replace="includes/header(title=#{ui.my},page='my')">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DUMMY Ozwillo</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../public/css/main.css" rel="stylesheet"/>
    <link href="../public/css/home.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="navbar navbar-fixed-top" role="navigation" th:replace="includes/navbar(logo='white')">
    <div class="container">
        <div class="navbar-header">

            <img id="logo" src="../public/img/ozwillo-logo-white-small.png"
                 alt="Ozwillo"/>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="btn btn-ozwillo">Join us!</a></li>
            <li><a href="#" class="btn btn-ozwillo" ><i class="fa fa-user"></i> Log in</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-ozwillo btn-noborder" data-toggle="dropdown">English <b class="caret"></b></a>
                <ul class="dropdown-menu" >
                    <li><a href="#">Blablaish</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="row">
                <a href="#"><img src="../public/img/my/profile.png" th:src="@{/img/my/profile.png}" alt="Profile" th:alt="#{my.profile}"/></a>
            </div>
            <div class="row">
                <a href="#" th:href="@{/my}"><img src="../public/img/my/dash.png" th:src="@{/img/my/dash.png}" alt="Dash" th:alt="#{my.dash}"/></a>
            </div>
            <div class="row">
                <a href="#" th:href="@{/my/notif}"><img src="../public/img/my/notification.png" th:src="@{/img/my/notification.png}" alt="Notif" th:alt="#{my.notification}"/></a>
            </div>

        </div>
        <div class="col-md-11">
            <h1 th:text="#{ui.my}">My Ozwillo</h1>
        </div>
    </div>
</div>


<th:block th:replace="includes/footer">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</th:block>

</body>
</html>

