<nav class="navbar navbar-default navbar-auth" id="oz-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#ozwillo-navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="ozwillo-navbar">
            <ul class="nav navbar-nav">
                <li data-th-each="item : ${navigation}">
                    <a href="#" data-th-class="${item.isActive()}? 'active' : ''" data-th-href="@{'/my/' + ${item.id}}">
                        <img data-th-src="@{'/img/' + ${item.id} + '.png'}"
                             alt="" data-th-alt="#{'my.' + ${item.id}}"/>
                        <span data-th-text="#{'my.' + ${item.id}}">Menu</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-th-href="@{|/${currentLanguage.locale.language}/store|}">
                        <img data-th-src="@{/img/store-icon-white.png}" alt="Store icon"/>
                        <span data-th-text="#{ui.appstore}">Apps Store</span>
                    </a>
                </li>
                <li>
                    <a data-th-href="@{|${opendataUrl}/${currentLanguage.locale.language}|}">
                        <img data-th-src="@{/img/data-icon-white.png}" alt="Data icon"/>
                        <span data-th-text="#{ui.datastore}">Données</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-th-href="@{/logout}">
                        <img data-th-src="@{/img/close.png}" alt="Logout icon"/>
                        <span data-th-text="#{ui.logout}">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
