<nav class="navbar navbar-default navbar-auth" id="oz-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#ozwillo-navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="ozwillo-navbar">
            <ul class="nav navbar-nav">
                <li data-th-each="item : ${navigation}">
                    <a href="#" data-th-class="${item.isActive()}? 'active' : ''" data-th-href="@{'/my/' + ${item.id}}">
                        <img data-th-src="@{'/img/new/' + ${item.id} + '.png'}"
                             alt="" data-th-alt="#{'my.' + ${item.id}}"/>
                        <span data-th-text="#{'my.' + ${item.id}}">Menu</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-th-href="@{|/${currentLanguage.locale.language}/store|}" class="nocache">
                        <img data-th-src="@{/img/new/icone-catalogue.png}"
                             src="../../public/img/new/icone-catalogue.png" alt=""/>
                        <span data-th-text="#{ui.appstore}">Apps Store</span>
                    </a>
                </li>
                <li>
                    <a href="https://opendata.ozwillo.com/fr/" class="nocache">
                        <img data-th-src="@{/img/new/data-white.png}" src="../../public/img/new/data-white.png"
                             alt=""/>
                        <span data-th-text="#{ui.datastore}">Données</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nocache redColor" data-th-href="@{/logout}">
                        <img data-th-src="@{/img/new/close.png}" src="../../public/img/new/close.png" alt=""/>
                        <span data-th-text="#{ui.logout}">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
