<nav class="navbar navbar-default navbar-noauth" id="oz-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#ozwillo-navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-th-href="|${webHome}/${currentLanguage.locale.language}|">
                <img data-th-src="@{/img/logo-ozwillo.png}" alt="Logo Ozwillo"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="ozwillo-navbar">

            <ul class="nav navbar-nav">
                <li data-th-each="item: ${sitemapHeader.getContentItems()}" data-th-class="${item.isSubmenu()}? 'dropdown'">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" aria-haspopup="true" data-th-href="${item.url}" data-th-if="${item.isSubmenu()}">
                        <span data-th-text="${item.label}">Discover</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" data-th-if="${item.isSubmenu()}">
                        <li role="presentation" data-th-each="entry: ${item.items}">
                            <a role="menuitem" tabindex="-1" data-th-href="${entry.url}" data-th-text="${entry.label}">Item</a>
                        </li>
                    </ul>
                    <a role="menuitem" tabindex="-1" data-th-href="${item.url}" data-th-text="${item.label}"
                        data-th-if="${!item.isSubmenu()}">Item</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-th-href="@{|/${currentLanguage.locale.language}/store|}">
                        <img data-th-src="@{/img/store-icon-color.png}" alt="Apps store icon"/>
                        <span data-th-text="#{ui.appstore}">Apps Store</span>
                    </a>
                </li>
                <li>
                    <a data-th-href="@{|${opendataUrl}/${currentLanguage.locale.language}|}">
                        <img data-th-src="@{/img/data-icon-purple.png}" alt="Data icon"/>
                        <span data-th-text="#{ui.datastore}">Données</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-th-href="@{|/${currentLanguage.locale.language}/store/login|}">
                        <img data-th-src="@{/img/login-icon-purple.png}" alt="Login icon"/>
                        <span data-th-text="#{ui.login}">Connexion</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <span data-th-text="${currentLanguage.name}">English</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-th-each="lang : ${languages}" data-th-href="@{|/${lang.language}/store|}"
                               data-th-text="${lang.name}">Language</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
