<nav class="navbar navbar-default navbar-noauth" id="oz-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#ozwillo-navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-th-href="|${webHome}/${currentLanguage.locale.language}|">
                <img data-th-src="@{/img/new/logo.png}" src="../../public/img/new/logo.png" alt="Ozwillo"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="ozwillo-navbar">
            <ul class="nav navbar-nav">
                <!-- Discover -->
                <li class="dropdown" data-th-each="submenu: ${sitemapheader.submenus[0]}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" aria-haspopup="true" data-th-href="${submenu.url}">
                        <span data-th-text="${submenu.title}">Discover</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" data-th-each="entry: ${submenu.subItems}">
                            <a href="#" role="menuitem" tabindex="-1" data-th-href="${entry.url}"
                               data-th-text="${entry.label}">Item</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-th-href="@{|/${currentLanguage.locale.language}/store|}" class="nocache">
                        <img data-th-src="@{/img/new/icone-catalogue-color.png}"
                             src="../../public/img/new/icone-catalogue-color.png" alt="Apps store icon"/>
                        <span data-th-text="#{ui.appstore}">Apps Store</span>
                    </a>
                </li>
                <li>
                    <a href="https://opendata.ozwillo.com/fr/" class="nocache">
                        <img data-th-src="@{/img/new/data-purple.png}" src="../../public/img/new/data-purple.png"
                             alt=""/>
                        <span data-th-text="#{ui.datastore}">Données</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-th-href="@{|/${currentLanguage.locale.language}/store/login|}" class="nocache">
                        <img data-th-src="@{/img/new/connexion-purple.png}" src="../../public/img/new/connexion-purple.png"
                             alt=""/>
                        <span data-th-text="#{ui.login}">Connexion</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <span data-th-text="${currentLanguage.name}">English</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-th-each="lang : ${languages}" data-th-href="@{|/${lang.language}/store|}"
                               data-th-text="${lang.name}">Language</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
